<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>786 lottery Club</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <!-- <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" /> -->
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <!-- <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" /> -->
    <!-- <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" /> -->
    <!-- <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" /> -->
    <!-- <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" /> -->
    <link rel="shortcut icon" href="/img/fevicon.ico" type="image/x-icon">
    <style>
        html{-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif}[class*=van-]:focus{outline:0}ul{margin:0;padding:0;list-style:none}.van-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}[class*=van-hairline]:after{position:absolute;box-sizing:border-box;content:" ";pointer-events:none;top:-50%;right:-50%;bottom:-50%;left:-50%;border:0 solid #ebedf0;-webkit-transform:scale(.5);transform:scale(.5)}.van-hairline--top-bottom{position:relative}.van-hairline--top-bottom:after{border-width:0 0}@font-face{font-weight:400;font-family:vant-icon;font-style:normal;font-display:auto;src:url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf) format("truetype")}.van-icon{position:relative;font:normal normal normal .37333rem/1 vant-icon;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}.van-icon,.van-icon:before{display:inline-block}.van-icon-notes-o:before{content:"\F08E"}.van-tabbar-item{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;color:#646566;font-size:.32rem;line-height:1;cursor:pointer}.van-tabbar-item__icon{position:relative;margin-bottom:.13333rem;font-size:.48rem}.van-col{float:left;box-sizing:border-box;min-height:.02667rem}.van-col--4{width:16.66666667%}.van-col--5{width:20.83333333%}.van-col--6{width:25%}.van-row:after{display:table;clear:both;content:""}.van-tabbar{z-index:1;display:-webkit-box;display:-webkit-flex;display:flex;box-sizing:content-box;width:100%;height:1.33333rem;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);background-color:#fff}.van-tabbar--fixed{position:fixed;bottom:0;left:0}
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7c8bbbf4="" class="mian">
            <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title"> Tutorial </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/promotion/bonusrecord'">
                    <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
                        <i data-v-7c8bbbf4="" data-v-106b99c8="" class="van-icon van-icon-notes-o" style="font-size: 25px;">
                            <!---->
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-7c8bbbf4="" class="promotion">
                <div data-v-7c8bbbf4="" class="tab">
                    <ul data-v-7c8bbbf4="" class="c-row c-row-between">
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion'">Data</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/myTeam'">My Team</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/promotionDes'">History</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/tutorial'" class="action block-click">Tutorial</li>
                    </ul>
                </div>
                <div data-v-7c8bbbf4="" class="box">
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between">Rebate Amount Corresponding Table</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="hd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Agent Level</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Total Referral</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Total Bet</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Recharge</div>
                        </div>
                        
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip 1</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip 2</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">30</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip 3</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">60</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">40000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">40000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip 4</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">100</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">100000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">100000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip 5</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">200</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">200000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">200000</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip 6</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500000</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500000</div>
                        </div>
                    </div>
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between m-t-15">Commission Calculation Method</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="box" style="width: 420px;">
                            <div data-v-7c8bbbf4="" class="hd dl van-row">
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">
                                    Hierarchy<p data-v-7c8bbbf4="" class="txt">Rebate Ratio</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Level 1<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Level 2<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Level 3<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Level 4<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $('.nav .van-tabbar-item:eq(0) img').attr('src', '/images/home1.png');
        $('.nav .van-tabbar-item:eq(0) .name').removeClass('action');
        $('.nav .van-tabbar-item:eq(2) .name').addClass('action');
        function RosesRender(datas) {
            let html = datas.map((e) => {
                let html = '';
                return html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Vip  ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f4}%</div>
                    </div>`;
            });
            $('.table:eq(1) .box').append(html);

            $('.table:eq(1) .box').append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--6">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                </div>
                `);
        }
        $.ajax({
            type: "POST",
            url: "/api/webapi/promotion",
            data: {

            },
            dataType: "json",
            success: function (response) {
                if (response.status === false) return location.href = '/home';
                RosesRender(response.level);
                $('.btn-box .btn:eq(0)').attr('data-clipboard-text', response.info[0].code);
                $('.btn-box .btn:eq(1)').attr('data-clipboard-text', window.location.hostname + `/register?r_code=${response.info[0].code}`);
            }
        });
    </script>
</body>

</html>