<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Withdraw money</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/admin.css">
  <style>
    .popup-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .popup {
      width: 50%;
      min-height: 300px;
      position: fixed;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      padding: 1.5rem;
      background: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 15px;
      z-index: 20;
    }
    .popup-title {
      text-align: center;
      margin-bottom: 15px;
    }
    .gateway-container {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      justify-content: center;
      margin-top: 20px;
    }
    .gateway {
      width: 300px;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #f2f2f2;
      border-radius: 10px;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
    }
    .gateway:hover {
      scale: 1.05;
    }
    .gateway-title {
      text-align: center;
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .gateway-minimum-amount-container {
      text-align: center;
    }
    .gateway-minimum-amount {
      text-align: center;
      font-size: x-large;
      font-weight: bolder;
      color: #ff0000;
      margin-top: 10px;
    }
    .loading-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .loading {
      position: fixed;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: inline-block;
      width: 80px;
      height: 80px;
      z-index: 20;
    }
    .loading:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: loading 1.2s linear infinite;
    }
    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @media screen and (width < 750px) {
      .popup {
        width: 90%;
      }
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <%- include('nav') %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Browse withdrawals</h1>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Browse withdrawals</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0" style="overflow-y: hidden;">
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Account</th>
                  <th class="text-center">Bank</th>
                  <th class="text-center">Account Number</th>
                  <th class="text-center">Account Name</th>
                  <th class="text-center">Amount</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Accept/Reject</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>

        <!-- Popup here -->

        <div class="popup-overlay">
          <div class="popup">
            <div class="gateway-container">
              <!-- <div class="gateway" data-gateway="didapay">
                <div class="gateway-title">
                  didapay
                </div>
                <div class="gateway-minimum-amount-container">
                  Minium amount gateway accepts for withdrawl
                  <div class="gateway-minimum-amount">
                    200
                  </div>
                </div>
              </div> -->
              <!-- <div class="gateway" data-gateway="wepay">
                <div class="gateway-title">
                  wepay
                </div>
                <div class="gateway-minimum-amount-container">
                  Minium amount gateway accepts for withdrawl
                  <div class="gateway-minimum-amount">
                    500
                  </div>
                </div>
              </div> -->
              <!-- <div class="gateway" data-gateway="allpay">
                <div class="gateway-title">
                  allpay
                </div>
                <div class="gateway-minimum-amount-container">
                  Minium amount gateway accepts for withdrawl
                  <div class="gateway-minimum-amount">
                    100
                  </div>
                </div>
              </div> -->
              <!-- <div class="gateway" data-gateway="xdpay">
                <div class="gateway-title">
                  xdpay
                </div>
                <div class="gateway-minimum-amount-container">
                  Minium amount gateway accepts for withdrawl
                  <div class="gateway-minimum-amount">
                    100
                  </div>
                </div>
              </div> -->
              <div class="gateway" data-gateway="okpay">
                <div class="gateway-title">
                  Are You Sure To Conform
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- loader -->

        <div class="loading-overlay">
          <div class="loading"></div>
        </div>

      </section>
    </div>
  </div>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="/js/admin/admin.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script>
    $(".popup-overlay").fadeOut(0)
    $(".loading-overlay").fadeOut(0)
    $(".popup-overlay").on("click", () => {
      $(".popup-overlay").fadeOut(300)
    })
    let selectedId = 0;

    function show(params) {
      if (params.length == 0) {
        $('tbody').html(`
            <tr class="text-center">
              <td colspan="7">No more data...</td>
            </tr>
          `);
        return;
      }
      let html = '';
      let show = params.map((data) => {
        html += `<tr class="text-center">
                  <td id="${data.id}">
                    ${data.id}
                  </td>
                  <td>
                    <b>${data.phone}</b>
                  </td>
                  <td>
                    <b>${data.name_bank}</b>
                  </td>
                  <td style="min-width: 190px;">
                    <b>${data.stk}</b>
                  </td>
                  <td style="min-width: 190px;">
                    <b>${data.name_user}</b>
                  </td>
                  <td>
                    <b>${data.money}</b>
                  </td>
                  <td class="project-state">
                    <span class="badge badge-warning">Waiting...</span>
                  </td>
                  <td class="project-actions text-center" style="min-width: 160px;">
                    <!-- xác nhận -->
                    <a class="btn btn-success btn-sm confirm-btn" href="" data="${data.id}"><i class="fa fa-check"></i></a>
                    <!-- ? -->
                    <!-- <a class="btn btn-info btn-sm" href="#"><i class="fas fa-pencil-alt"></i></a> -->
                    <!-- Xóa -->
                    <a class="btn btn-danger btn-sm delete-btn" href="#" data="${data.id}"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>`;
              })
          $('tbody').html(html);
          $('.btn-success').click(function (e) { 
            e.preventDefault();
            id = $(this).attr('data');
            $(".popup-overlay").fadeIn(500)
          });
          $('.gateway').click(function (e) {
            if (!id) {
              console.log("id is not defined")
              return
            }

            $(".loading-overlay").fadeIn(400)

            $.ajax({
              type: "POST",
              url: "/api/webapi/admin/withdraw",
              data: {
                id: id,
                type: 'confirm',
                gateway: $(this).attr('data-gateway')
              },
              dataType: "json",
              success: function (response) {
                if (!response.status) {
                  Swal.fire({
                    titleText: "Something Went Wrong",
                    html: `<span style="color: white;">${response.message}<span>`,
                    icon: "error"
                  })
                } else {
                  Swal.fire({
                    titleText: "Success",
                    html: `<span style="color: white;">${response.message}<span>`,
                    icon: "success"
                  }).then(() => location.reload())
                }
              },
              complete: function () {
                $(".loading-overlay").fadeOut(200)
              }
            });
          })
          $('.btn-danger').click(function (e) { 
            e.preventDefault();
            let id = $(this).attr('data');

            $(".loading-overlay").fadeIn(400)

            $.ajax({
              type: "POST",
              url: "/api/webapi/admin/withdraw",
              data: {
                id: id,
                type: 'delete'
              },
              dataType: "json",
              success: function (response) {
                if (!response.status) {
                  Swal.fire({
                    titleText: "Something Went Wrong",
                    html: `<span style="color: white;">${response.message}<span>`,
                    icon: "error"
                  })
                } else {
                  Swal.fire({
                      titleText: "Success",
                      html: `<span style="color: white;">${response.message}<span>`,
                      icon: "success"
                    }).then(() => location.reload())
                }
              },
              complete: function () {
                $(".loading-overlay").fadeOut(200)
              }
            });
          });
    }
    $.ajax({
      type: "POST",
      url: "/api/webapi/admin/recharge",
      data: {
        
      },
      dataType: "json",
      success: function (response) {
        show(response.datas3)
      }
    });
  </script>
</body>

</html>