<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>786 lottery Club</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <!-- <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" /> -->
    <!-- <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" /> -->
    <!-- <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" /> -->
    <link rel="shortcut icon" href="/img/fevicon.ico" type="image/x-icon">
    <style>
        .van-image__img {
            display: block;
            width: 100%;
            height: 100%;
        }
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .mian[data-v-3966082f]{background-color:#fbfcfd}.mian .box[data-v-3966082f]{padding:.3rem}.mian .box .list[data-v-3966082f]{background:#fff;border-radius:.4rem;overflow:hidden;padding:3px;}
        html{-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif}[class*=van-]:focus{outline:0}@-webkit-keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@font-face{font-weight:400;font-family:vant-icon;font-style:normal;font-display:auto;src:url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf) format("truetype")}.van-loading{color:#c8c9cc;font-size:0}.van-loading,.van-loading__spinner{position:relative;vertical-align:middle}.van-loading__spinner{display:inline-block;width:.8rem;max-width:100%;height:.8rem;max-height:100%;-webkit-animation:van-rotate .8s linear infinite;animation:van-rotate .8s linear infinite}.van-loading__spinner--circular{-webkit-animation-duration:2s;animation-duration:2s}.van-loading__circular{display:block;width:100%;height:100%}.van-loading__circular circle{-webkit-animation:van-circular 1.5s ease-in-out infinite;animation:van-circular 1.5s ease-in-out infinite;stroke:currentColor;stroke-width:3;stroke-linecap:round}@-webkit-keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}@keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}.van-list__finished-text{color:#969799;font-size:.37333rem;line-height:1.33333rem;text-align:center}.van-list__placeholder{height:0;pointer-events:none}.van-empty{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;box-sizing:border-box;padding:.85333rem 0}.van-empty__image{width:4.26667rem;height:4.26667rem}.van-empty__image img{width:100%;height:100%}
        .lisys .item {
            margin-bottom: 15px !important;
            background: #eee;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-3966082f="" class="mian">
            <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back">
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Recharge History</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-3966082f="" class="box">
                <div data-v-3966082f="" class="list m-b-20">
                    <div data-v-3966082f="" role="feed" class="van-list">
                        <div class="lisys">

                        </div>
                         <div data-v-a9660e98="" class="p-t-5 p-b-5">
                                   <div data-v-a9660e98="" class="van-empty">
                                      <div class="van-empty__image">
                                       <img src="https://img.yzcdn.cn/vant/empty-image-default.png" />
                                 </div>
                        <div class="van-list__finished-text">No more Available</div>
                        <div class="van-list__placeholder"></div>
                    </div>
                </div>
            </div>
            <div data-v-7692a079="" data-v-3966082f="" class="Loading c-row c-row-middle-center" style="display: none;">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: #50ff99;">
                        <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function formateT(params) {
            let result = (params < 10) ? "0" + params : params;
            return result;
        }

        function timerJoin(params = '') {
            let date = '';
            if (params) {
                date = new Date(Number(params));
            } else {
                date = new Date();
            }
            let years = formateT(date.getFullYear());
            let months = formateT(date.getMonth() + 1);
            let days = formateT(date.getDate());

            let hours = formateT(date.getHours());
            let minutes = formateT(date.getMinutes());
            let seconds = formateT(date.getSeconds());
            return years + '-' + months + '-' + days + ' ' + hours + '-' + minutes + '-' + seconds;
        }
        function loads(datas) {
            let html = datas.map((data) => {
                return `
                    <div data-v-3966082f="" class="item c-row c-row-between m-b-10">
                        <div data-v-3966082f="">
                            <div data-v-3966082f="" class="number c-row">
                                ${data.id_order}
                                <div data-v-3966082f="" class="m-l-10 tag-read van-image" data-clipboard-text="${data.id_order}" style="width: 18px; height: 15px;"><img src="/images/copy.png" class="van-image__img" /></div>
                            </div>
                            <div data-v-3966082f="">
                                <div data-v-3966082f="" class="money action m-b-10 m-t-10">
                                    <!---->
                                    <span data-v-3966082f="">₹ ${data.money}</span>
                                </div>
                            </div>
                            <div data-v-3966082f="" class="time">${timerJoin(data.time)}</div>
                        </div>
                        <div data-v-3966082f="">
                            <div data-v-3966082f="" class="state m-b-5">
                                <!---->
                                <span data-v-3966082f="" style="color: ${(data.status == 1) ? 'rgb(106, 190, 87)' : 'rgb(242, 65, 59)'}">${(data.status == 0) ? 'Waiting' : (data.status == 1) ? 'Success' : 'Cancelled'}</span>
                                <!---->
                            </div>
                        </div>
                    </div>
                    `;
            })
            $('.van-list .lisys').html(html);
            $('.number').click(function (e) { 
                e.preventDefault();
                let text = $(this).text().trim();
                navigator.clipboard.writeText(text);
                $(this).addClass('block-click');
                alertMess('Copy successful', $(this));
            });
        }
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $.ajax({
            type: "GET",
            url: "/api/webapi/recharge/list",
            dataType: "json",
            success: function (response) {
                console.log(response.datas);
                if(response.datas.length == 0) return;
                loads(response.datas);
            }
        });
    </script>
</body>

</html>