<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex,nofollow">
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<title>SGS</title>
	<!-- <link href="/css/home/chunk-vendors.css" rel="stylesheet" /> -->
	<link href="/css/home/app.css" rel="stylesheet" />
	<!-- <link href="/css/home/chunk.css" rel="stylesheet" /> -->
	<link href="/css/home/chunk2.css" rel="stylesheet" />
	<link rel="shortcut icon" href="/img/fevicon.ico" type="image/x-icon" />
	<style>
		html{-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif}button{color:inherit;font:inherit}[class*=van-]:focus,button:focus{outline:0}.van-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.van-multi-ellipsis--l2{-webkit-line-clamp:2}.van-multi-ellipsis--l2{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical}[class*=van-hairline]:after{position:absolute;box-sizing:border-box;content:" ";pointer-events:none;top:-50%;right:-50%;bottom:-50%;left:-50%;border:0 solid #ebedf0;-webkit-transform:scale(.5);transform:scale(.5)}.van-hairline--top,.van-hairline--top-bottom{position:relative}.van-hairline--top:after{border-top-width:0}.van-hairline--top-bottom:after{border-width:0}@-webkit-keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.van-overlay{position:fixed;top:0;left:0;z-index:1;width:100%;height:100%;background-color:rgba(0,0,0,.7)}@font-face{font-weight:400;font-family:vant-icon;font-style:normal;font-display:auto;src:url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf) format("truetype")}.van-icon{position:relative;font:normal normal normal .37333rem/1 vant-icon;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}.van-icon,.van-icon:before{display:inline-block}.van-icon-arrow-left:before{content:"\F008"}.van-icon-arrow:before{content:"\F00A"}.van-icon-close:before{content:"\F034"}.van-tabbar-item{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;color:#646566;font-size:.32rem;line-height:1;cursor:pointer}.van-tabbar-item__icon{position:relative;margin-bottom:.13333rem;font-size:.48rem}.van-notice-bar{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;height:1.06667rem;padding:0 .42667rem;color:rgb(66,64,76);flex-wrap:nowrap;word-break: keep-all;white-space:nowrap;font-size:.37333rem;line-height:.64rem;background-color:#fff}.van-notice-bar__wrap{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-align:center;-webkit-align-items:center;align-items:center;height:100%;overflow:hidden}.van-image{position:relative;display:inline-block}.van-image__img{display:block;width:100%;height:100%}.van-loading{color:#c8c9cc;font-size:0}.van-loading,.van-loading__spinner{position:relative;vertical-align:middle}.van-loading__spinner{display:inline-block;width:.8rem;max-width:100%;height:.8rem;max-height:100%;-webkit-animation:van-rotate .8s linear infinite;animation:van-rotate .8s linear infinite}.van-loading__spinner--circular{-webkit-animation-duration:2s;animation-duration:2s}.van-loading__circular{display:block;width:100%;height:100%}.van-loading__circular circle{-webkit-animation:van-circular 1.5s ease-in-out infinite;animation:van-circular 1.5s ease-in-out infinite;stroke:currentColor;stroke-width:3;stroke-linecap:round}@-webkit-keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}@keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}.van-button{position:relative;display:inline-block;box-sizing:border-box;height:1.17333rem;margin:0;padding:0;font-size:.42667rem;line-height:1.2;text-align:center;border-radius:.05333rem;cursor:pointer;-webkit-transition:opacity .2s;transition:opacity .2s;-webkit-appearance:none}.van-button:before{position:absolute;top:50%;left:50%;width:100%;height:100%;background-color:#000;border:inherit;border-color:#000;border-radius:inherit;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;content:" "}.van-button:active:before{opacity:.1}.van-button--default{color:#323233;background-color:#fff;border:.02667rem solid #ebedf0}.van-button--large{width:100%;height:1.33333rem}.van-button__content{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;height:100%}.van-dialog{position:fixed;top:45%;left:50%;width:8.53333rem;overflow:hidden;font-size:.42667rem;background-color:#fff;border-radius:.42667rem;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:.3s;transition:.3s;-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform}@media(max-width:321px){.van-dialog{width:90%}}.van-dialog__header{padding-top:.64rem;font-weight:500;line-height:.64rem;text-align:center}.van-dialog__message{max-height:60vh;padding:.64rem;overflow-y:auto;font-size:.37333rem;line-height:.53333rem;white-space:pre-wrap;text-align:center;word-wrap:break-word;-webkit-overflow-scrolling:touch}.van-dialog__message--has-title{padding-top:.32rem;color:#646566}.van-dialog__footer{overflow:hidden;-webkit-user-select:none;user-select:none}.van-dialog .van-button{border:0}.van-dialog__confirm,.van-dialog__confirm:active{color:#1989fa}.van-tab__pane{-webkit-flex-shrink:0;flex-shrink:0;box-sizing:border-box;width:100%}.van-tab{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-flex:1;-webkit-flex:1;flex:1;box-sizing:border-box;padding:0 .10667rem;color:#646566;font-size:.37333rem;cursor:pointer}.van-tab--active{color:#323233;font-weight:500}.van-tab__text--ellipsis{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden}.van-tabs{position:relative}.van-tabs__wrap{overflow:hidden}.van-tabs__nav{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;background-color:#fff;-webkit-user-select:none;user-select:none}.van-tabs__nav--line{box-sizing:content-box;height:100%;padding-bottom:.4rem}.van-tabs__line{position:absolute;bottom:.4rem;left:0;z-index:1;height:.08rem;background-color:#ee0a24;border-radius:.08rem}.van-tabs--line .van-tabs__wrap{height:1.17333rem}.van-swipe{position:relative;overflow:hidden;cursor:grab;-webkit-user-select:none;user-select:none}.van-swipe__track{display:-webkit-box;display:-webkit-flex;display:flex;height:100%}.van-swipe__track--vertical{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column}.van-swipe__indicators{position:absolute;bottom:.32rem;left:50%;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.van-swipe__indicator{width:.16rem;height:.16rem;background-color:#ebedf0;border-radius:100%;opacity:.3;-webkit-transition:opacity .2s;transition:opacity .2s}.van-swipe__indicator:not(:last-child){margin-right:.16rem}.van-swipe-item{position:relative;-webkit-flex-shrink:0;flex-shrink:0;width:100%;height:100%}.van-tabbar{z-index:1;display:-webkit-box;display:-webkit-flex;display:flex;box-sizing:content-box;width:100%;height:1.33333rem;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);background-color:#fff}.van-tabbar--fixed{position:fixed;bottom:0;left:0}
		html,
		body {
			height: 100%;
			width: 100%;
			background-color: #9195a3;
			padding: 0;
			margin: 0;
		}

		#notice {
			-moz-animation: marquee 10s linear infinite;
			-webkit-animation: marquee 10s linear infinite;
			animation: marquee 10s linear infinite;
		}

		@-moz-keyframes marquee {
			0% {
				transform: translateX(100%);
			}

			100% {
				transform: translateX(-100%);
			}
		}

		@-webkit-keyframes marquee {
			0% {
				transform: translateX(100%);
			}

			100% {
				transform: translateX(-100%);
			}
		}

		@keyframes marquee {
			0% {
				-moz-transform: translateX(100%);
				-webkit-transform: translateX(100%);
				transform: translateX(100%)
			}

			100% {
				-moz-transform: translateX(-100%);
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
		}

		.support-btn {
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: 999;
			width: 69px;
			height: 69px;
			margin: 10px;
			margin-bottom: 60px;
			border-radius: 50%;
		}

		.support-btn img {
			width: 100%;
			height: 100%;
		}

		.banner {
			padding: 10px;
		}

		.van-swipe {
			border-radius: 10px;
			height: 150px;
		}

		.toplist {
			padding-left: 5px;
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 9
		}

		.toplist_item {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
		}

		.toplist_item_name {
			display: flex;
			align-items: center;
			margin-top: 2.5px;
			font-weight: 400;
			font-size: 12px;
			color: #333;
			justify-content: center;
		}

		.toplist_item_img_container {
			width: 76px;
			height: 68px;
			background-image: linear-gradient(136deg, rgba(130, 229, 178, .2), rgba(63, 147, 104, .2));
			box-shadow: 0 2px 5px 0 rgba(63, 147, 104, .4);
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px 0;
		}

		.middlelist {
			padding: 0 10px;
			gap: 2%;
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
		}

		.middlelist_item {
			flex: 1;
			height: 70px;
			border-radius: 8px;
			row-gap: 7px;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.middlelist_item_img_container {
			width: 50%;
			height: 40%;
		}

		.middlelist_item_img_container img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		.middlelist_item_name {
			z-index: 2;
			position: relative;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			color: #3e424d;
			font-size: 14px;
			font-weight: 700;
		}

		.middlelist_item:first-child {
			background-image: linear-gradient(90deg, #d2f3f8, #d0f1f8);
		}

		.middlelist_item:last-child {
			background-image: linear-gradient(90deg, #e7f0fd, #e0e8fb);
		}

		.third_gamebox {
			/* background-color: red; */
			height: 400px;
			padding: 14px;
			padding-bottom: 0;
			display: flex;
			justify-content: space-between;
			gap: 10px;
			position: relative;
		}

		.third_gamebox.add_padding {
			padding: 14px 0;
			padding-right: 9px;
			padding-bottom: 0;
		}

		.third_gamebox_left {
			display: flex;
			flex-direction: column;
			position: relative;
			padding-top: 0;
		}

		.third_gamebox_left.fixedItem {
			position: fixed;
			top: 50px;
			z-index: 2;
			/* left: 14px; */
			/* left: 50%; */
			/* -webkit-transform: translateX(calc(50% - 315px)); */
			/* transform: translateX(calc(50% - 315px)); */
		}

		.third_gamebox_left .left_item {
			width: 55px;
			height: 55px;
			/* background: url(/static/homegame/type.png) no-repeat 50%; */
			background: url(/img/green1_bg.png) no-repeat 50%;
			background-size: 100% 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #3f9368;
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 10px;
			box-sizing: border-box;
			border-radius: 10px;
		}

		.third_gamebox_left .left_item img {
			width: 25px;
			height: 25px;
			margin-bottom: 3px;
		}

		.third_gamebox_left .left_item.chosed {
			background: url(/img/green_bg.png) no-repeat 50%;
			color: #fff;
		}

		.third_gamebox_right {
			width: calc(100% - 60px);
			position: relative;
			overflow-y: auto;
			padding: 0;
		}

		.third_gamebox_right.fixedItemRight {
			width: 100%;
			padding-left: 79px;
		}

		.third_gamebox_right .title_box {
			display: flex;
			align-items: center;
			gap: 5px;
			height: 32px;
			padding-left: 12px;
		}

		.third_gamebox_right .hot_box {
			box-sizing: border-box;
			height: 350px;
			width: 100%;
		}

		.third_gamebox_right .top_game {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
			z-index: 9;
		}

		.third_gamebox_right .top_game .top_list {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 33%;
		}

		.third_gamebox_right .top_game .top_list .img_box {
			width: 100%;
			height: 90px;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
		}

		.third_gamebox_right .top_game .top_list .bottom {
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: center;
			padding: 0 8px;
			align-items: flex-end;
			width: 100%;
			box-sizing: border-box;
			padding-bottom: 8px;
			color: #666;
			font-size: 13px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-overflow: ellipsis;
		}

		.third_gamebox_right .game_box {
			margin-bottom: 16px;
			width: 100%;
			padding-left: 6px;
			box-sizing: border-box;
		}

		.third_gamebox_right .game_box .game_item {
			margin-bottom: 16px;
			width: 100%;
			height: auto;
			/* background: url(/static/homegame/lottery_bg.png) no-repeat 50%; */
			background: url(/img/wingo_bg.png) no-repeat 50%;
			background-size: 100% 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 18px 20px;
			box-sizing: border-box;
		}

		.third_gamebox_right .game_box .game_box_left {
			width: 150px;
		}

		.third_gamebox_right .game_box .game_box_left .game_box_title {
			font-family: "buttersans-Regular", sans-serif;
			font-weight: 900;
			font-size: 18.5px;
			color: #34855b;
		}

		.third_gamebox_right .game_box .game_box_left .game_box_types {
			display: flex;
			flex-wrap: wrap;
			font-size: 14px;
			color: #3f9368;
			margin-top: 10px;
		}

		.third_gamebox_right .game_box .game_box_left .game_box_types .type_item {
			margin-right: 4px;
		}

		.jackpot_box {
			width: 100%;
			height: 125px;
			padding: 0 10px;
		}

		.jackpot_box .jackpot_box_img {
			width: 100%;
			height: 100%;
			background: url(/img/jackpot.avif) no-repeat 50%;
			background-size: 100% 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			border-radius: 12px;
		}

		.earning_box {
			margin-top: 20px;
			padding: 0 16px;
			box-sizing: border-box;

			.earning_box_title {
				padding-left: 10px;
				box-sizing: border-box;
				position: relative;
				font-weight: bold;
				font-size: 16px;
				color: #333;
				font-family: "buttersans-Regular", sans-serif;

				&::before {
					content: "";
					width: 5px;
					height: 14px;
					background: #3f9368;
					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			}

			.earning_box_content {
				display: flex;
				justify-content: space-between;
				position: relative;
				z-index: 1;
			}

			.earning_box_lower {
				width: 100%;
				height: 121px;
				background-image: linear-gradient(135deg, #dde4f5, #c5e1d3 53%, #cfece8);
				padding: 15px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-top: -50px;
				position: relative;
				z-index: 2;
				border-radius: 10px;
			}

			.earning_box_item {
				width: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 18px;

				&:nth-child(1),
				&:nth-child(3) {
					margin-top: 34px;
				}
			}

			.earning_box_item_top {
				width: 106px;
				height: auto;
			}

			.earning_box_item_name,
			.earning_box_item_value {
				font-weight: 700;
				font-size: 14px;
				color: #333;
			}

			.earning_box_item {
				&:nth-child(1) .earning_box_item_value {
					color: #90a8e8;
				}

				&:nth-child(2) .earning_box_item_value {
					color: #3f9368;
				}

				&:nth-child(3) .earning_box_item_value {
					color: #28bfb2;
				}
			}

			.earning_box_item_bottom {
				width: 92px;
			}

			.earning_box_lower_item {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.earning_box_lower_item_index {
				width: 10px;
				font-weight: 600;
				font-size: 15px;
				color: #999;
			}

			.earning_box_lower_item_avatar {
				width: 38px;
				height: 38px;
			}

			.earning_box_lower_item_name {
				flex: 1;
				display: flex;
				justify-content: center;
				font-weight: 600;
				font-size: 14px;
				color: #333;
			}

			.earning_box_lower_item_value {
				width: 120px;
				font-weight: 600;
				font-size: 14px;
				color: #3f9368;
			}
		}

		.top_list .img_box img {
			width: 75px;
			border-radius: 4px;
			height: 75px;

		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 1000;
		}

		.modal-custom {
			width: 90%;
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			overflow: hidden;
			display: none;
			flex-direction: column;
		}

		.jili-balance-modal, .kingmaker-balance-modal {

			.modal-header {
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}

			.modal-footer {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				margin-top: 10px;
			}

			button {
				width: 100%;
				border: none;
				background: #3f9368;
				color: #fff;
				padding: 10px;
				border-radius: 50px;
				font-weight: bold;
				font-size: 16px;

				&:first-child {
					background: transparent;
					border: 1px solid #3f9368;
					color: #3f9368;
				}
			}
		}

		.modal-close-btn {
			position: absolute;
			top: 7px;
			right: 10px;
		}

		.modal-close-btn i {
			font-size: x-large;
		}

		.modal-content {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.3rem;
			flex-wrap: wrap;
			margin-top: 35px;
			width: 100%;
			height: 100%;
			overflow: auto;
			box-sizing: border-box;
		}
	</style>
</head>

<body style="font-size: 12px;" class="">
	<div id="app">
		<div class="overlay">
			<div class="modal-custom jili-balance-modal">
				<div class="modal-header">
					<h2>Important</h2>
				</div>
				<div class="modal-desc">
					Please transfer the balance from system wallet to your jili wallet if you want to play jili games.
					Transfer can be done from account page by clicking on In button in jili wallet and can also be
					withdrawn from jili wallet by clicking on Out button.
				</div>
				<div class="modal-footer">
					<button class="jili-continue-btn">Continue</button>
					<button onclick="location.href='/mian'">Transfer</button>
					<div class="jili-balance-modal-close-btn modal-close-btn" style="
                margin-top: 0.238rem;
                display: flex;
                align-items: center;
                justify-content: center;
              ">
						<i class="van-icon van-icon-close m-r-5" style="text-shadow: #9195a3 0 0 15px"></i>
					</div>
				</div>
			</div>
			<div class="modal-custom kingmaker-balance-modal">
				<div class="modal-header">
					<h2>Important</h2>
				</div>
				<div class="modal-desc">
					Please transfer the balance from system wallet to your KM wallet if you want to play KM games.
					Transfer can be done from account page by clicking on In button in KM wallet and can also be
					withdrawn from KM wallet by clicking on Out button.
				</div>
				<div class="modal-footer">
					<button class="kingmaker-continue-btn">Continue</button>
					<button onclick="location.href='/mian'">Transfer</button>
					<div class="kingmaker-balance-modal-close-btn modal-close-btn" style="
                margin-top: 0.238rem;
                display: flex;
                align-items: center;
                justify-content: center;
              ">
						<i class="van-icon van-icon-close m-r-5" style="text-shadow: #9195a3 0 0 15px"></i>
					</div>
				</div>
			</div>
		</div>
		<div data-v-432e6ed0="" class="home mian game">
			<div data-v-106b99c8="" data-v-432e6ed0="" class="navbar">
				<div data-v-106b99c8="" class="navbar-left"></div>
				<div data-v-106b99c8="" class="navbar-title">
					<div data-v-432e6ed0="" data-v-106b99c8="" class="c-row c-row-middle-center">
						<img class="logo" data-v-432e6ed0="" data-v-106b99c8="" style="width:214px; height: 77px;" src="/img/logo.png">
					</div>
				</div>
				<!-- <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/app'">
					<div data-v-432e6ed0="" data-v-106b99c8="" class="c-row c-row-middle-center">
						<img data-v-432e6ed0="" data-v-106b99c8="" height="25px" width="35px" src="/images/down.png">
					</div>
				</div> -->
			</div>
			<div data-v-432e6ed0="" class="banner">
				<div data-v-432e6ed0="" class="van-swipe">
					<div class="van-swipe__track list-banner"
						style="width: 1448px; transition-duration: 0ms; transform: translateX(0px);">
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/img/banner/banner_1.webp" class="img">
						</div>
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/img/banner/banner_2.webp" class="img">
						</div>
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/img/banner/banner_3.webp" class="img">
						</div>
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/img/banner/banner_4.webp" class="img">
						</div>
					</div>
					<div class="van-swipe__indicators">
						<i class="van-swipe__indicator"></i>
						<i class="van-swipe__indicator"></i>
						<i class="van-swipe__indicator"></i>
						<i class="van-swipe__indicator"></i>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="notice">
				<div data-v-432e6ed0="" class="notice-box c-row c-row-between">
					<div data-v-432e6ed0="" role="alert" class="van-notice-bar" style="font-size: 15px;">
						<i class="">
							<img data-v-432e6ed0="" src="/img/bell.svg" class="img">
							<!---->
						</i>
						<div role="marquee" class="van-notice-bar__wrap">
							<div>
								<p id="notice">All members are welcome to join sgs and everyone is welcome to make money
									here in the long term</p>
							</div>
						</div>
					</div>
					<!-- <div data-v-432e6ed0="" class="txt">
						<span data-v-432e6ed0="" class="sp">
							<img data-v-432e6ed0="" src="/images/notice-right.svg" class="img">Latest Notification
						</span>
					</div> -->
				</div>
			</div>
			<div data-v-432e6ed0="" class="home-com">
				<div data-v-432e6ed0="" class="van-tabs van-tabs--line home-tab action">
					<div class="van-tabs__wrap van-hairline--top-bottom">
						<!-- <div role="tablist" class="van-tabs__nav van-tabs__nav--line">
							<div role="tab" aria-selected="true" class="van-tab van-tab--active">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/CP.png" class="img">
									</div>
								</span>
							</div>
							<div role="tab" class="van-tab testing-list-game">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/DZ.webp" class="img">
									</div>
								</span>
							</div>
							<div role="tab" class="van-tab testing-list-game">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/DC.webp" class="img">
									</div>
								</span>
							</div>
							<div role="tab" class="van-tab testing-list-game">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/TY.webp" class="img">
									</div>
								</span>
							</div>
							<div class="van-tabs__line"
								style="width: 56.5px; transform: translateX(56.5px) translateX(-50%);"></div>
						</div> -->
						<div class="toplist">
							<div class="toplist_item kingmaker-game" onclick="openGameById(224)" data-gameId="Cash_Rocket">
								<div class="toplist_item_img_container">
									<img data-v-432e6ed0="" src="/jili_games/GAMEID_224.png" style="width: 65.88px; height: 58px"
										class="img">
								</div>
								<div class="toplist_item_name">
									Aviator
								</div>
							</div>
							<div class="toplist_item" onclick="location.href='/win'">
								<div class="toplist_item_img_container">
									<img data-v-432e6ed0="" src="/img/wingo_1.png" style="width: 56.77px; height: 57px"
										class="img">
								</div>
								<div class="toplist_item_name">
									Wingo 1"
								</div>
							</div>
							<div class="toplist_item" onclick="location.href='/win/3'">
								<div class="toplist_item_img_container">
									<img data-v-432e6ed0="" src="/img/wingo_3.png" style="width: 50.77px; height: 58px"
										class="img">
								</div>
								<div class="toplist_item_name">
									Wing 3"
								</div>
							</div>
							<div class="toplist_item kingmaker-game" data-gameId="Minesweeper" onclick="openGameById(229)" >
								<div class="toplist_item_img_container">
									<img data-v-432e6ed0="" src="/img/Mines.png" style="width: 58px; height: 58px"
										class="img">
								</div>
								<div class="toplist_item_name">
									Mines
								</div>
							</div>
						</div>
					</div>
					<div class="middlelist">
						<div class="middlelist_item" onclick="location='/promotion'">
							<div class="middlelist_item_img_container">
								<img src="/img/invite.svg">
							</div>
							<div class="middlelist_item_name">
								Invite
							</div>
						</div>
						<div class="middlelist_item" onclick="location='/promotion'">
							<div class="middlelist_item_img_container">
								<img src="/img/promotion.svg">
							</div>
							<div class="middlelist_item_name">
								Promotions
							</div>
						</div>
					</div>
					<!-- <div class="van-tabs__content">
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane" style="">
							<div data-v-432e6ed0="" class="gameList m-t-20">
								<div data-v-432e6ed0="" class="item m-b-20 list-games" onclick="location.href='/win'">
									<div data-v-432e6ed0="" class="info i3">
										<div data-v-432e6ed0="" class="name"> WIN GO </div>
										<div data-v-432e6ed0="" class="des"> Guess green/purple/red to win the game</div>
										<img data-v-432e6ed0="" width="120px" height="85px"
											src="/images/logo-wingo.webp" class="img m-r-5">
									</div>
									<div data-v-432e6ed0="" class="userList">
										<div data-v-39efd474="" data-v-432e6ed0="" class="gomeList">
											<div data-v-39efd474="" class="list">
												<div data-v-39efd474="" class="swpier van-swipe">
													<div class="van-swipe__track van-swipe__track--vertical"
														style="height: 200px; transition-duration: 500ms; transform: translateY(0px);"
														id="wingo">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-v-432e6ed0="" class="item m-b-20 list-games" onclick="location.href='/5d'">
									<div data-v-432e6ed0="" class="info i2">
										<div data-v-432e6ed0="" class="name"> 5D Lotre </div>
										<div data-v-432e6ed0="" class="des"> Guess the number/big/small/odd/even </div>
										<img data-v-432e6ed0="" width="120px" height="85px"
											src="/images/logo-lottery.webp" class="img m-r-5">
									</div>
									<div data-v-432e6ed0="" class="userList">
										<div data-v-39efd474="" data-v-432e6ed0="" class="gomeList">
											<div data-v-39efd474="" class="list">
												<div data-v-39efd474="" class="swpier van-swipe">
													<div class="van-swipe__track van-swipe__track--vertical"
														style="height: 255px; transition-duration: 500ms; transform: translateY(0px);" 
														id="k5d">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-v-432e6ed0="" class="item m-b-20 list-games" onclick="location.href='#'">
									<div data-v-432e6ed0="" class="info i4">
										<div data-v-432e6ed0="" class="name">K3 Lotre</div>
										<div data-v-432e6ed0="" class="des">Coming soon</div>
										<img data-v-432e6ed0="" width="120px" height="85px" src="/images/logo-k333.webp"
											class="img m-r-5">
									</div>
								</div>
							</div>
						</div>
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane"
							style="display: none;">
						</div>
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane"
							style="display: none;">
						</div>
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane"
							style="display: none;">
						</div>
					</div> -->
					<div class="third_gamebox">
						<div class="third_gamebox_left">
							<div class="left_item left_item_hot chosed">
								<img src="/img/hot.png" style="width: 15px; height: 20px">
								<div>HOT</div>
							</div>
							<div class="left_item left_item_lottery">
								<img src="/img/lottery.png" style="width: 27px; height: 27px">
								<div>Lottery</div>
							</div>
							<div class="left_item left_item_slots">
								<img src="/img/slots.png" style="width: 32px; height: 32px">
								<div>Slots</div>
							</div>


							<div class="left_item left_item_fishing">
								<img src="/img/fishing.png" style="width: 28px; height: 24px">
								<div>Fishing</div>
							</div>
							<div class="left_item left_item_sports">
								<img src="/img/sports.png">
								<div>Sports</div>
							</div>

							<div class="left_item left_item_live">
								<img src="/img/live.png" style="width: 24px; height: 24px">
								<div>Live</div>
							</div>
						</div>
						<div class="third_gamebox_right">
							<div id="item-0">
								<div class="title_box">
									<span><img src="/img/hot.png" style="width: 13px; height: 17px" alt=""></span> Hot
									Games
								</div>
								<div class="hot_box">
									<div class="top_game">
										<!-- 235 -->
										<div class="top_list kingmaker-game" data-gameId="Cash_Rocket"> 
											<div class="img_box">
												<img src="/img/Aviator.png" alt="slots">
											</div>
											<div class="bottom">
												Aviator
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="Dragon_Tiger_2">
											<div class="img_box">
												<img src="/img/jili/dragon-tiger.avif" alt="slots">
											</div>
											<div class="bottom">
												dragon-Tiger
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="Cockfighting_Arena">
											<div class="img_box">
												<img src="/img/jili/cockfight.avif" alt="slots">
											</div>
											<div class="bottom">
												Cockfight
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="Andar_Bahar">
											<div class="img_box">
												<img src="/img/jili/andar-bahar.avif" alt="slots">
											</div>
											<div class="bottom">
												Andar Bahar
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="7_Up_7_Down">
											<div class="img_box">
												<img src="/img/jili/7up.avif" alt="slots">
											</div>
											<div class="bottom">
												7UP-7DOWN
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="Coin_Toss">
											<div class="img_box">
												<img src="/img/jili/toss.avif" alt="slots">
											</div>
											<div class="bottom">
												Toss
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="KM_Virtual_Horse_Racing">
											<div class="img_box">
												<img src="/img/jili/horse.avif" alt="slots">
											</div>
											<div class="bottom">
												Horse Racing
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="Minesweeper">
											<div class="img_box">
												<img src="/img/jili/mine-sweeper.avif" alt="slots">
											</div>
											<div class="bottom">
												Mine Sweeper
											</div>
										</div>
										<div class="top_list kingmaker-game" data-gameId="Ludo">
											<div class="img_box">
												<img src="/img/jili/ludo.avif" alt="slots">
											</div>
											<div class="bottom">
												Ludo
											</div>
										</div>
										<!-- <div class="top_list">
											<div class="img_box">
												<img src="/img/slots.png" alt="slots">
											</div>
											<div class="bottom">
												Aviator
											</div>
										</div>
										<div class="top_list">
											<div class="img_box">
												<img src="/img/slots.png" alt="slots">
											</div>
											<div class="bottom">
												Aviator
											</div>
										</div>
										<div class="top_list">
											<div class="img_box">
												<img src="/img/slots.png" alt="slots">
											</div>
											<div class="bottom">
												Aviator
											</div>
										</div> -->
									</div>
								</div>
							</div>
							<div id="item-1">
								<div class="title_box">
									<span><img src="/img/lottery.png" style="width: 22px; height: 22px" alt=""></span>
									Lottery
								</div>
								<div class="game_box">
									<div class="game_item" onclick="location.href='/win'">
										<div class="game_box_left">
											<div class="game_box_title">
												WIN GO
											</div>
											<div class="game_box_types">
												<div class="type_item">1minute</div>
												<div class="type_item">3minute</div>
												<div class="type_item">5minute</div>
												<div class="type_item">10minute</div>
											</div>
										</div>
										<img src="/img/wingo.png" style="width: 90px; height: 74px" alt="wingo">
									</div>
									<div class="game_item" onclick="location.href='/5d'">
										<div class="game_box_left">
											<div class="game_box_title">
												5D LOTRE
											</div>
											<div class="game_box_types">
												<div class="type_item">1minute</div>
												<div class="type_item">3minute</div>
												<div class="type_item">5minute</div>
												<div class="type_item">10minute</div>
											</div>
										</div>
										<img src="/img/5d.png" style="width: 90px; height: 74px" alt="5D">
									</div>
									<div class="game_item" onclick="location.href='/k3'">
										<div class="game_box_left">
											<div class="game_box_title">
												K3 LOTRE
											</div>
											<div class="game_box_types">
												<div class="type_item">1minute</div>
												<div class="type_item">3minute</div>
												<div class="type_item">5minute</div>
												<div class="type_item">10minute</div>
											</div>
										</div>
										<img src="/img/k3.png" style="height: 90px; width: 74px" alt="K3">
									</div>
								</div>
							</div>
							<div id="item-3">
								<div class="title_box">
									<span><img src="/img/slots.png" style="width: 25px; height: 25px" alt=""></span>
									Slots
								</div>
								<div class="hot_box">
									<div class="top_game">
										<div class="top_list jili-game" data-gameId="223">
											<div class="img_box">
												<img src="/img/jili/hilo.png" alt="sports">
											</div>
											<div class="bottom">
												Hilo
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="72">
											<div class="img_box" >
												<img src="/img/jili/matka.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="152">
											<div class="img_box">
												<img src="/img/jili/backeret.png" alt="sports">
											</div>
											<div class="bottom">
												Baccarat
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="145">
											<div class="img_box">
												<img src="/img/jili/neko.png" alt="sports">
											</div>
											<div class="bottom">
												Neko Fortune
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="176">
											<div class="img_box">
												<img src="/img/jili/master-tiger.png" alt="sports">
											</div>
											<div class="bottom">
												Master Tiger
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="137">
											<div class="img_box">
												<img src="/img/jili/gold-rush.png" alt="sports">
											</div>
											<div class="bottom">
												Gold Rush
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="72">
											<div class="img_box">
												<img src="/img/jili/super-ace.png" alt="sports">
											</div>
											<div class="bottom">
												Super Ace
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="27">
											<div class="img_box">
												<img src="/img/jili/777.png" alt="sports">
											</div>
											<div class="bottom">
												777 Game
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="134">
											<div class="img_box">
												<img src="/img/jili/mega-ace.png" alt="sports">
											</div>
											<div class="bottom">
												Mega Ace
											</div>
										</div>
										<!-- <div class="top_list">
											<div class="img_box">
												<img src="/img/sports.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div>
										<div class="top_list">
											<div class="img_box">
												<img src="/img/sports.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div>
										<div class="top_list">
											<div class="img_box">
												<img src="/img/sports.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div> -->
									</div>
								</div>
							</div>
							<div id="item-3">
								<div class="title_box">
									<span><img src="/img/fishing.png" style="width: 19px; height: 19px" alt=""></span>
									Fishing
								</div>
								<div class="hot_box">
									<div class="top_game">
										<div class="top_list jili-game" data-gameId="74">
											<div class="img_box">
												<img src="/img/jili/mega-fishing.png" alt="sports">
											</div>
											<div class="bottom">
												Mega Fishing
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="32">
											<div class="img_box">
												<img src="/img/jili/jackpot-fishing.png" alt="sports">
											</div>
											<div class="bottom">
												Jackpot Fishing
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="82">
											<div class="img_box">
												<img src="/img/jili/happy-fishing.png" alt="sports">
											</div>
											<div class="bottom">
												Happy Fishing
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="192">
											<div class="img_box">
												<img src="/img/jili/fishing-allstar.png" alt="sports">
											</div>
											<div class="bottom">
												All-Star Fishing
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="20">
											<div class="img_box">
												<img src="/img/jili/bombing-fishing.png" alt="sports">
											</div>
											<div class="bottom">
												Bombing Fishing
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="46">
											<div class="img_box">
												<img src="/img/jili/dragon-treasure.png" alt="sports">
											</div>
											<div class="bottom">
												Dragon-Treasure
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="153">
											<div class="img_box">
												<img src="/img/jili/crazy-pusher.png" alt="sports">
											</div>
											<div class="bottom">
												Crazy-Pusher
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="92">
											<div class="img_box">
												<img src="/img/jili/crazy-hunter.png" alt="sports">
											</div>
											<div class="bottom">
												Crazy-Hunter
											</div>
										</div>
										<div class="top_list jili-game" data-gameId="289">
											<div class="img_box">
												<img src="/img/jili/ocean-king.png" alt="sports">
											</div>
											<div class="bottom">
												Ocean-King
											</div>
										</div>
										<!-- <div class="top_list">
											<div class="img_box">
												<img src="/img/sports.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div>
										<div class="top_list">
											<div class="img_box">
												<img src="/img/sports.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div>
										<div class="top_list">
											<div class="img_box">
												<img src="/img/sports.png" alt="sports">
											</div>
											<div class="bottom">
												Teen Patti Live
											</div>
										</div> -->
									</div>
								</div>
							</div>

							<div id="item-4"></div>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<!-- <div data-v-432e6ed0="" class="bonus-box">
				<div data-v-432e6ed0="" class="img van-image" style="width: 100%; height: 230px;top: -4%;">
					<img src="/images/coin-bonus.webp" class="van-image__img">
				</div>
				<div data-v-432e6ed0="" class="bonus-bg">
					<div data-v-432e6ed0="" class="inner">
						<span data-v-432e6ed0=""> ₹&nbsp;6788716</span>
					</div>
				</div>
			</div> -->
			<div class="jackpot_box">
				<div class="jackpot_box_img">
					<!-- <img src="/img/jackpot.avif" alt="jackpot"> -->
				</div>
			</div>
			<div data-v-432e6ed0="" class="running-time">
				<p data-v-432e6ed0="" class="running-title c-tc"> Website Runtime</p>
				<div data-v-432e6ed0="" class="c-row c-row-between list-flip_nums" style="padding: 0px 33px 30px;">
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom">Days</div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back">
								<p data-v-432e6ed0="">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc"> Days </div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom">Hours</div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back">
								<p data-v-432e6ed0="" class="c-tc">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc"> Hours </div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom c-tc"> Minutes </div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back">
								<p data-v-432e6ed0="" class="c-tc">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc"> Minutes</div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom c-tc"> Seconds</div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back c-tc">
								<p data-v-432e6ed0="" class="c-tc">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc">Seconds</div>
						</div>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="web-info c-row c-row-between">
				<div data-v-432e6ed0="" class="item c-tc">
					<div data-v-432e6ed0="" class="c-row c-row-cetner">
						<div data-v-432e6ed0="" class="img van-image" style="width: 40px; height: 40px;">
							<img src="/images/u_home.png" class="van-image__img">
						</div>
					</div>
					<div data-v-432e6ed0="" class="num" id="player"></div>
					<div data-v-432e6ed0="" class="txt"> Players </div>
				</div>
				<div data-v-432e6ed0="" class="item c-tc">
					<div data-v-432e6ed0="" class="c-row c-row-cetner">
						<div data-v-432e6ed0="" class="img van-image" style="width: 40px; height: 40px;">
							<img src="/images/q_home.png" class="van-image__img">
						</div>
					</div>
					<div data-v-432e6ed0="" class="num" id="betting"></div>
					<div data-v-432e6ed0="" class="txt">Total Of Betting </div>
				</div>
				<div data-v-432e6ed0="" class="item c-tc">
					<div data-v-432e6ed0="" class="c-row c-row-cetner">
						<div data-v-432e6ed0="" class="img van-image" style="width: 40px; height: 40px;">
							<img src="/images/us_home.png" class="van-image__img">
						</div>
					</div>
					<div data-v-432e6ed0="" class="num" id="online"></div>
					<div data-v-432e6ed0="" class="txt"> Online </div>
				</div>
			</div>
			<div class="earning_box">
				<div class="earning_box_title">
					TODAY'S EARNING CHART
				</div>
				<div class="earning_box_content">
					<div class="earning_box_item">
						<img class="earning_box_item_top" src="/img/rank/second.png" alt="second">
						<div class="earning_box_item_name">Rajesh Khanna</div>
						<div class="earning_box_item_value">₹63,748,600.00</div>
						<img class="earning_box_item_bottom" src="/img/rank/second_bg.png" alt="second background" />
					</div>
					<div class="earning_box_item">
						<img class="earning_box_item_top" src="/img/rank/first.png" alt="first">
						<div class="earning_box_item_name">Sarthak</div>
						<div class="earning_box_item_value">₹134,209,800.00</div>
						<img class="earning_box_item_bottom" src="/img/rank/first_bg.png" alt="first background" />
					</div>
					<div class="earning_box_item">
						<img class="earning_box_item_top" src="/img/rank/third.png" alt="third">
						<div class="earning_box_item_name">Bhidu Don</div>
						<div class="earning_box_item_value">₹38,342,931.00</div>
						<img class="earning_box_item_bottom" src="/img/rank/third_bg.png" alt="third background" />
					</div>
				</div>
				<div class="earning_box_lower">
					<div class="earning_box_lower_item">
						<div class="earning_box_lower_item_index">4</div>
						<img src="/img/rank/avatar.svg" alt="avatar" class="earning_box_lower_item_avatar">
						<div class="earning_box_lower_item_name">Lupe Smitham</div>
						<div class="earning_box_lower_item_value">₹ 24,356,981.00</div>
					</div>
					<div class="earning_box_lower_item">
						<div class="earning_box_lower_item_index">5</div>
						<img src="/img/rank/avatar.svg" alt="avatar" class="earning_box_lower_item_avatar">
						<div class="earning_box_lower_item_name">Jarret Mante</div>
						<div class="earning_box_lower_item_value">₹ 6,873,725.00</div>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="rank-box">
				<div data-v-432e6ed0="" class="rank-tit"> Withdrawal Chart</div>
				<div data-v-e52eeae0="" data-v-432e6ed0="" class="RankList">
					<div data-v-e52eeae0="" class="van-swipe" style="height: 100%;">
						<div class="van-swipe__track van-swipe__track--vertical"
							style="height: 462px; transition-duration: 500ms; transform: translateY(-358px);"
							id="top-recharge">
							<!---->
						</div>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="home-how">
				<div data-v-432e6ed0="" class="info">
					<div data-v-432e6ed0="" class="tit"> How to bet ? </div>
					<div data-v-432e6ed0="" class="tab c-row c-flex-warp c-row-between" id="tab_support">
						<div data-v-432e6ed0="" class="item c-row c-row-between action c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> First Step</div>
								<div data-v-432e6ed0="" color="#50a3ff" class="name"> Choose a game </div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/img/first_how.png" class="van-image__img"></div>
							</div>
						</div>
						<div data-v-432e6ed0="" class="item c-row c-row-between c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> Second Step</div>
								<div data-v-432e6ed0="" color="#000" class="name"> Choose your lucky number</div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/0d.png" class="van-image__img"></div>
							</div>
						</div>
						<div data-v-432e6ed0="" class="item c-row c-row-between c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> Third Step </div>
								<div data-v-432e6ed0="" color="#000" class="name"> Betting</div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/bet.png" class="van-image__img"></div>
							</div>
						</div>
						<div data-v-432e6ed0="" class="item c-row c-row-between c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> Fourth Step </div>
								<div data-v-432e6ed0="" color="#000" class="name"> Get Bonus </div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/scsc.png" class="van-image__img"></div>
							</div>
						</div>
					</div>
				</div>
				<div data-v-432e6ed0="" class="how-list m-t-20">
					<div data-v-432e6ed0="" class="swipe van-swipe" id="swipe_van-swipe">
						<div class="van-swipe__track" id="show-support"
							style="width: 1272px; transition-duration: 0ms; transform: translateX(0px);">
							<div data-v-432e6ed0="" class="van-swipe-item">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Choose a game you love
								</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">You can choose to play lottery
									games every 1 minute, 3 minutes, 5 minutes, and 10 minutes.</div>
							</div>
							<div data-v-432e6ed0="" class="van-swipe-item">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Choose your lucky number
								</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">Choose your lucky number or color
								</div>
							</div>
							<div data-v-432e6ed0="" class="van-swipe-item">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Place A bet</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">Choose the amount of money you
									want to bet and confirm.</div>
							</div>
							<div data-v-432e6ed0="" class="van-swipe-item">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Win The Prize</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">When you choose a lucky number
									for the current round, the system will automatically add the prize money to your
									balance.</div>
							</div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="arrow">
						<div data-v-432e6ed0="" class="item left">
							<div data-v-432e6ed0="" class="arr c-row c-row-middle-center action"><i data-v-432e6ed0=""
									class="van-icon van-icon-arrow-left" style="color: #50a3ff; font-size: 20px;">
									<!---->
								</i></div>
						</div>
						<div data-v-432e6ed0="" class="item right">
							<div data-v-432e6ed0="" class="arr c-row c-row-middle-center action"><i data-v-432e6ed0=""
									class="van-icon van-icon-arrow" style="color: #50a3ff; font-size: 20px;">
									<!---->
								</i></div>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div data-v-432e6ed0="" id="moveBox" class="moveBox" style="display: none;">
				<div data-v-432e6ed0="" class="moveHead c-row c-row-between c-row-middle">
					<div data-v-432e6ed0="" class="close"> Close </div>
					<div data-v-432e6ed0=""><span data-v-432e6ed0="">Full Screen</span></div>
				</div>
				<div data-v-432e6ed0="" class="long">
					<div data-v-432e6ed0="" class="van-tabs van-tabs--line">
						<div class="van-tabs__wrap van-hairline--top-bottom">
							<div role="tablist" class="van-tabs__nav van-tabs__nav--line">
								<div role="tab" aria-selected="true" class="van-tab van-tab--active"><span
										class="van-tab__text van-tab__text--ellipsis">Bệt rồng mới nhất</span></div>
								<div role="tab" class="van-tab"><span class="van-tab__text van-tab__text--ellipsis">My
										Bets</span></div>
								<div class="van-tabs__line"></div>
							</div>
						</div>
						<div class="van-tabs__content">
							<div data-v-432e6ed0="" role="tabpanel" class="van-tab__pane">
								<div data-v-432e6ed0="" class="longlist"></div>
							</div>
							<div data-v-432e6ed0="" role="tabpanel" class="van-tab__pane" style="display: none;">
								<!---->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div data-v-7692a079="" data-v-432e6ed0="" class="Loading c-row c-row-middle-center">
				<div data-v-7692a079="" class="van-loading van-loading--circular">
					<span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
						style="color: #50ff99;">
						<svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
							<circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
						</svg>
					</span>
				</div>
			</div>
			<%- include('../nav') -%>
				<div class="support-btn" onclick="location.href='https://t.me/sarthak_web'">
					<img src="/images/icon_Telegram.webp">
				</div>
		</div>
	</div>
	<div class="van-overlay" style="z-index: 2001; display: none;" id="modalUser"></div>
	<div role="dialog" class="van-dialog" style="z-index: 2002; display: none;" aria-labelledby="Lời nhắc"
		id="modalUser">
		<div class="van-dialog__header">Reminder</div>
		<div class="van-dialog__content">
			<div class="van-dialog__message van-dialog__message--has-title">
				<font face="Arial">Reminder : It reminds customers to copy the exact random amount shown by the system
					when making the deposit and paste it into the payment description to ensure the automatic credit of
					points or funds. Additionally, it advises against reserving the transfer with the bank and warns
					that the company will not be responsible for any loss resulting from incorrect transfers !</font>
				<br>
			</div>
		</div>
		<div class="van-hairline--top van-dialog__footer">
			<button class="van-button van-button--default van-button--large van-dialog__confirm">
				<div class="van-button__content"><span class="van-button__text">Confirm</span></div>
			</button>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/client.js"></script>

	<script>
		$(".overlay").fadeOut(0);
		$(document).ready(function () {
			$('.third_gamebox_right').scroll(function () {
				let scrollTop = $(this).scrollTop();
				$('.left_item').removeClass("chosed");

				if (scrollTop < 34) {
					$('.left_item_hot').addClass("chosed");
				} else if (scrollTop < 493) {
					$('.left_item_lottery').addClass("chosed");
				} else if (scrollTop < 868) {
					$('.left_item_slots').addClass("chosed");
				} else {
					$('.left_item_fishing').addClass("chosed");
				}
			})

			$(".jili-balance-modal").css("display", "none");
			$(".kingmaker-balance-modal").css("display", "none");


			$('.jili-balance-modal-close-btn').click(function () {
				$('.overlay').fadeOut(400, function () {
					$('.jili-balance-modal').css("display", "none");
					$("body").css("overflow", "auto");
				})
			})

			$('.kingmaker-balance-modal-close-btn').click(function () {
				$('.overlay').fadeOut(400, function () {
					$('.kingmaker-balance-modal').css("display", "none");
					$("body").css("overflow", "auto");
				})
			})

			function alertMess(text, sic) {
				$('body').append(
					`
					<div data-v-1dcba851="" class="msg">
						<div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
					</div>
					`
				);
				setTimeout(() => {
					$('.msg .msg-content').removeClass('v-enter-active v-enter-to');
					$('.msg .msg-content').addClass('v-leave-active v-leave-to');
					setTimeout(() => {
						$('.msg').remove();
					}, 100);
					sic.removeClass('block-click');
				}, 1000);
			}
			// $('.gameList .list-games:eq(2), .testing-list-game').click(function (e) {
			// 	e.preventDefault();
			// 	$(this).addClass('block-click');
			// 	alertMess('Currently under development', $(this));
			// });
			let getWBody = $('.navbar').width();
			let getswipe = $('#swipe_van-swipe').width();
			$(".list-banner .van-swipe-item").css("width", `${getWBody}px`);
			$("#swipe_van-swipe .van-swipe__track .van-swipe-item").css("width", `${getswipe}px`);

			let formSlide = document.querySelector('.van-notice-bar__content');
			if (formSlide) {
				formSlide.style = 'transition-duration: 44.0815s; transform: translateX(-2204.07px);';
			}

			$('#tab_support .item').click(function (e) {
				e.preventDefault();
				$('#tab_support .item').removeClass('action');
				let elementThis = $(this).addClass('action');
			});
			$('#tab_support .item:eq(0)').click(function (e) {
				e.preventDefault();
				$('#show-support .van-swipe-item .van-ellipsis').text('Choose a game');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('You can choose to play lottery games every 1 minute, 3 minutes, 5 minutes, and 10 minutes.');
			});

			$('#tab_support .item:eq(1)').click(function (e) {
				e.preventDefault();
				let action = $(this).children().children().children();
				action.attr('src', '/img/how2.png');
				$('#show-support .van-swipe-item .van-ellipsis').text('Choose number');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('Choose your lucky number or color');
			});

			$('#tab_support .item:eq(2)').click(function (e) {
				e.preventDefault();
				let action = $(this).children().children().children();
				action.attr('src', '/img/how3.png');
				$('#show-support .van-swipe-item .van-ellipsis').text('Place a bet');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('Choose the amount of money you want to bet and confirm');
			});

			$('#tab_support .item:eq(3)').click(function (e) {
				e.preventDefault();
				let action = $(this).children().children().children();
				action.attr('src', '/img/how4.png');
				$('#show-support .van-swipe-item .van-ellipsis').text('Win the Prize');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('When you choose a lucky number for the current round, the system will automatically add the prize money to your balance');
			});

			let count = 0;
			let element = document.querySelector('.van-swipe__track');
			setInterval(() => {
				let getWBody = $('.navbar').width();
				$(`.van-swipe__indicator`).removeClass('van-swipe__indicator--active');
				$(`.van-swipe__indicator`).css("backgroundColor", "");
				$(`.van-swipe__indicator:eq(${count})`).addClass('van-swipe__indicator--active');
				$(`.van-swipe__indicator:eq(${count})`).css("backgroundColor", "#fff");
				if (element) {
					if (count == 0) {
						element.style = `width: 1448px; transition-duration: 500ms; transform: translateX(-${getWBody}px);`;
					} else if (count == 1) {
						element.style = `width: 1448px; transition-duration: 500ms; transform: translateX(-${getWBody * 2}px);`;
					} else if (count == 2) {
						element.style = `width: 1448px; transition-duration: 500ms; transform: translateX(-${getWBody * 3}px);`;
					} else if (count == 3) {
						count = -1;
						element.style = `width: 1448px; transition-duration: 0ms; transform: translateX(0px);`;
					}
				}
				count++;
			}, 2500);

			function cownDownTimer() {
				let countDownDate = new Date("2023-07-16T23:59:59.9999999+01:00").getTime();
				setInterval(function () {
					let now = new Date().getTime();
					let distance = now - countDownDate;
					let days = Math.floor(distance / (1000 * 60 * 60 * 24));
					let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					let seconds = Math.floor((distance % (1000 * 60)) / 1000);

					$('.list-flip_nums .flip-num:eq(0) .top').text((days < 10) ? `0${days}` : days);
					$('.list-flip_nums .flip-num:eq(0) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(0) .back .c-tc').text((days + 1 < 10) ? `0${days + 1}` : days + 1);
					if (seconds >= 59 && minutes >= 59 && hours >= 23) {
						setTimeout(() => {
							$('.list-flip_nums .flip-num:eq(0) .bottom-card').addClass('flipX');
						}, 100);
					}

					$('.list-flip_nums .flip-num:eq(1) .top').text((hours < 10) ? `0${hours}` : hours);
					$('.list-flip_nums .flip-num:eq(1) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(1) .back .c-tc').text((hours + 1 < 10) ? `0${hours + 1}` : hours + 1);
					if (seconds >= 59 && minutes >= 59) {
						setTimeout(() => {
							$('.list-flip_nums .flip-num:eq(1) .bottom-card').addClass('flipX');
						}, 100);
					}

					$('.list-flip_nums .flip-num:eq(2) .top').text((minutes < 10) ? `0${minutes}` : minutes);
					$('.list-flip_nums .flip-num:eq(2) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(2) .back .c-tc').text((minutes + 1 < 10) ? `0${minutes + 1}` : minutes + 1);
					if (seconds >= 59) {
						setTimeout(() => {
							$('.list-flip_nums .flip-num:eq(2) .bottom-card').addClass('flipX');
						}, 100);
					}

					$('.list-flip_nums .flip-num:eq(3) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(3) .top').text((seconds < 10) ? `0${seconds}` : seconds);
					$('.list-flip_nums .flip-num:eq(3) .back .c-tc').text((seconds + 1 < 10) ? `0${seconds + 1}` : seconds + 1);
					setTimeout(() => {
						$('.list-flip_nums .flip-num:eq(3) .bottom-card').addClass('flipX');
					}, 100);
				}, 1000);
			};
			cownDownTimer();
		});
	</script>
	<script>
		$(window).on('load', function () {
			$('.Loading').fadeOut(0);
		});
		function makeid(length) {
			var result = '';
			var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
			var charactersLength = characters.length;
			for (var i = 0; i < length; i++) {
				result += characters.charAt(Math.floor(Math.random() * charactersLength));
			}
			return result;
		}

		function randMoney(max, min) {
			var result = Math.floor(Math.random() * (max - min + 1)) + min;
			return result;
		}

		let wingo = '';
		let k5d = '';
		let k3 = '';
		let top_nap = '';
		let name = '';
		let money = 0;
		let player = 0;
		function CreatMemJoin() {
			for (let i = 0; i < 4; i++) {
				name = makeid(5);
				money = randMoney(1, 99);
				point = randMoney(1, 99);
				wingo +=
					`
				<div data-v-39efd474="" class="van-swipe-item" style="height: 40px;">
					<div data-v-39efd474="" class="swiper-item">
						<div data-v-39efd474="" class="c-row c-row-between c-row-middle item">
							<img data-v-39efd474="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-39efd474="" class="info c-row c-row-between">
								<div data-v-39efd474="" class="m-l-10 name">Member${name}</div>
								<div data-v-39efd474="" class="c-row c-row-middle-center">
									<span data-v-39efd474="" class="u-p-r-10">Bet &nbsp;₹</span>
									<span data-v-39efd474="" class="price"> ${money}.${point}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				`;
				name = makeid(5);
				money = randMoney(1, 99);
				point = randMoney(1, 99);
				k5d +=
					`
				<div data-v-39efd474="" class="van-swipe-item" style="height: 40px;">
					<div data-v-39efd474="" class="swiper-item">
						<div data-v-39efd474="" class="c-row c-row-between c-row-middle item">
							<img data-v-39efd474="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-39efd474="" class="info c-row c-row-between">
								<div data-v-39efd474="" class="m-l-10 name">Member${name}</div>
								<div data-v-39efd474="" class="c-row c-row-middle-center">
									<span data-v-39efd474="" class="u-p-r-10">Bet &nbsp;₹ </span>
									<span data-v-39efd474="" class="price"> ${money}.${point}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				`
					;

				name = makeid(5);
				money = randMoney(1, 99);
				point = randMoney(1, 99);
				k3 +=
					`
				<div data-v-39efd474="" class="van-swipe-item" style="height: 40px;">
					<div data-v-39efd474="" class="swiper-item">
						<div data-v-39efd474="" class="c-row c-row-between c-row-middle item">
							<img data-v-39efd474="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-39efd474="" class="info c-row c-row-between">
								<div data-v-39efd474="" class="m-l-10 name">Member${name}</div>
								<div data-v-39efd474="" class="c-row c-row-middle-center">
									<span data-v-39efd474="" class="u-p-r-10">Bet &nbsp;₹</span>
									<span data-v-39efd474="" class="price"> ${money}.${point}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				`
					;
			}
			for (let i = 0; i < 4; i++) {
				let list_recharge = '';
				for (let i = 0; i < 4; i++) {
					name = makeid(5);
					money = randMoney(9999, 300);
					point = randMoney(1, 99);
					const d = new Date();
					let hour = d.getHours();
					let minutes = d.getMinutes();
					list_recharge += `
					<div data-v-e52eeae0="" class="swiper-item">
						<div data-v-e52eeae0="" class="c-row c-row-between item">
							<img data-v-e52eeae0="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-e52eeae0="" class="info c-row c-row-between">
								<div data-v-e52eeae0="" class="m-l-10 name">Member${name}</div>
								<div data-v-e52eeae0="" class="price">
									<span data-v-e52eeae0="">₹&nbsp; ${money}.${point}</span>
								</div>
								<div data-v-e52eeae0="" class="time">${hour}:${minutes}</div>
							</div>
						</div>
					</div>
					`;
				}
				top_nap +=
					`
				<div data-v-e52eeae0="" class="item van-swipe-item" style="height: 180px; ">
					${list_recharge}
				</div>
				`;
			}
			$('#wingo').html(wingo);
			$('#k5d').html(k5d);
			$('#k3').html(k3);
			$('#top-recharge').html(top_nap);
		}


		CreatMemJoin();
		let translate = 0;
		let count = 0;
		let top_recharge = -358;
		setInterval(() => {
			count += 1;
			translate -= 40;
			top_recharge -= 180;
			$('#wingo').css({
				'transform': `translateY(${translate}px)`,
			});
			$('#k5d').css({
				'transform': `translateY(${translate}px)`,
			});

			$('#k3').css({
				'transform': `translateY(${translate}px)`,
			});

			$('#top-recharge').css({
				'transform': `translateY(${top_recharge}px)`,
			});
			if (count == 3) {
				count = 0;
				translate = 40;
				top_recharge = -358;
				CreatMemJoin();
			};
		}, 3000);

	</script>
	<script>

		document.getElementById('player').innerHTML = create_random_number(6)

		function create_random_number(string_length) {

			var random_string = '';
			var characters = '987654321'
			for (var i, i = 0; i < string_length; i++) {

				random_string += characters.charAt(Math.floor(Math.random() * characters.length))

			}
			return random_string
		}

	</script>
	<script>

		document.getElementById('betting').innerHTML = create_random_number(10)

		function create_random_number(string_length) {

			var random_string = '';
			var characters = '123456789'
			for (var i, i = 0; i < string_length; i++) {

				random_string += characters.charAt(Math.floor(Math.random() * characters.length))

			}
			return random_string
		}

	</script>
	<script>

		document.getElementById('online').innerHTML = create_random_number(5)

		function create_random_number(string_length) {

			var random_string = '';
			var characters = '123456789'
			for (var i, i = 0; i < string_length; i++) {

				random_string += characters.charAt(Math.floor(Math.random() * characters.length))

			}
			return random_string
		}
	</script>
	<script>
		  function openGameById(gameId) {
            try {
                window.location.href = `/jili/game_link?game_id=${gameId}`
            } catch (error) {
                console.log(error)
            }
        }
	</script>
</body>

</html>