<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;" style="min-height: 100vh;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>venasclub</title>
    <link href="/css/member/main.css" rel="stylesheet" />
    <link href="/css/member/chunk-6.css" rel="stylesheet" />
    <!-- <link href="/css/member/chunk-7.css" rel="stylesheet" /> -->
    <link rel="shortcut icon" href="/img/fevicon.ico" type="image/x-icon">
    <style>
        html{-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif}button,input{color:inherit;font:inherit}[class*=van-]:focus,button:focus,input:focus{outline:0}[class*=van-hairline]:after{position:absolute;box-sizing:border-box;content:" ";pointer-events:none;top:-50%;right:-50%;bottom:-50%;left:-50%;border:0 solid #ebedf0;-webkit-transform:scale(.5);transform:scale(.5)}.van-hairline--left,.van-hairline--top,.van-hairline--top-bottom{position:relative}.van-hairline--top:after{border-top-width:0}.van-hairline--left:after{border-left-width:0}.van-hairline--top-bottom:after{border-width:0 0}@-webkit-keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.van-overlay{position:fixed;top:0;left:0;z-index:1;width:100%;height:100%;background-color:rgba(0,0,0,.7)}@font-face{font-weight:400;font-family:vant-icon;font-style:normal;font-display:auto;src:url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf) format("truetype")}.van-icon{position:relative;font:normal normal normal .37333rem/1 vant-icon;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased}.van-icon,.van-icon:before{display:inline-block}.van-icon-arrow:before{content:"\F00A"}.van-icon-close:before{content:"\F034"}.van-tabbar-item{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;color:#646566;font-size:.32rem;line-height:1;cursor:pointer}.van-tabbar-item__icon{position:relative;margin-bottom:.13333rem;font-size:.48rem}.van-cell{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;box-sizing:border-box;width:100%;padding:.26667rem .42667rem;overflow:hidden;color:#323233;font-size:.37333rem;line-height:.64rem;background-color:#fff}.van-cell:after{position:absolute;box-sizing:border-box;content:" ";pointer-events:none;right:0;bottom:0;left:.42667rem;border-bottom:.02667rem solid #ebedf0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.van-cell:last-child:after{display:none}.van-cell__value{-webkit-box-flex:1;-webkit-flex:1;flex:1}.van-cell__value{position:relative;overflow:hidden;color:#969799;text-align:right;vertical-align:middle;word-wrap:break-word}.van-cell__value--alone{color:#323233;text-align:left}.van-field__value{overflow:visible}.van-field__body{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center}.van-field__control{display:block;box-sizing:border-box;width:100%;min-width:0;margin:0;padding:0;color:#323233;line-height:inherit;text-align:left;background-color:transparent;border:0;resize:none}.van-field__control::-webkit-input-placeholder{color:#c8c9cc}.van-field__control:disabled{color:#c8c9cc;background-color:transparent;cursor:not-allowed;opacity:1;-webkit-text-fill-color:currentColor}.van-loading{color:#c8c9cc;font-size:0}.van-loading,.van-loading__spinner{position:relative;vertical-align:middle}.van-loading__spinner{display:inline-block;width:.8rem;max-width:100%;height:.8rem;max-height:100%;-webkit-animation:van-rotate .8s linear infinite;animation:van-rotate .8s linear infinite}.van-loading__spinner--circular{-webkit-animation-duration:2s;animation-duration:2s}.van-loading__circular{display:block;width:100%;height:100%}.van-loading__circular circle{-webkit-animation:van-circular 1.5s ease-in-out infinite;animation:van-circular 1.5s ease-in-out infinite;stroke:currentColor;stroke-width:3;stroke-linecap:round}@-webkit-keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}@keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}.van-button{position:relative;display:inline-block;box-sizing:border-box;height:1.17333rem;margin:0;padding:0;font-size:.42667rem;line-height:1.2;text-align:center;border-radius:.05333rem;cursor:pointer;-webkit-transition:opacity .2s;transition:opacity .2s;-webkit-appearance:none}.van-button:before{position:absolute;top:50%;left:50%;width:100%;height:100%;background-color:#000;border:inherit;border-color:#000;border-radius:inherit;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;content:" "}.van-button:active:before{opacity:.1}.van-button--default{color:#323233;background-color:#fff;border:.02667rem solid #ebedf0}.van-button--large{width:100%;height:1.33333rem}.van-button--normal{padding:0 .4rem;font-size:.37333rem}.van-button--block{display:block;width:100%}.van-button--round{border-radius:26.64rem}.van-button__content{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;height:100%}.van-dialog{position:fixed;top:45%;left:50%;width:8.53333rem;overflow:hidden;font-size:.42667rem;background-color:#fff;border-radius:.42667rem;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:.3s;transition:.3s;-webkit-transition-property:opacity,-webkit-transform;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform}@media(max-width:321px){.van-dialog{width:90%}}.van-dialog__header{padding-top:.64rem;font-weight:500;line-height:.64rem;text-align:center}.van-dialog__message{max-height:60vh;padding:.64rem;overflow-y:auto;font-size:.37333rem;line-height:.53333rem;white-space:pre-wrap;text-align:center;word-wrap:break-word;-webkit-overflow-scrolling:touch}.van-dialog__message--has-title{padding-top:.32rem;color:#646566}.van-dialog__footer{overflow:hidden;-webkit-user-select:none;user-select:none}.van-dialog__footer--buttons{display:-webkit-box;display:-webkit-flex;display:flex}.van-dialog__footer--buttons .van-button{-webkit-box-flex:1;-webkit-flex:1;flex:1}.van-dialog .van-button{border:0}.van-dialog__confirm,.van-dialog__confirm:active{color:#1989fa}.van-tabbar{z-index:1;display:-webkit-box;display:-webkit-flex;display:flex;box-sizing:content-box;width:100%;height:1.33333rem;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);background-color:#fff}.van-tabbar--fixed{position:fixed;bottom:0;left:0}
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .block-click {
            pointer-events: none;
        }

        .navbar {
            background: #3f9368;
        }

        .infoName .name,
        .infoName .number {
            font-weight: 700;
            font-size: 15px !important;
            color: #fff;
        }

        .infoName .invite_code,
        .infoName .id {
            color: #fff;
            opacity: .8;
            font-size: 13px !important;
        }

        .infoItem .system_wallet_box {
            width: 100%;
            background-size: 100% 100%;
            padding-bottom: 20px;
            position: relative;
            z-index: 2;
        }

        .infoItem .title_box {
            font-family: buttersans-Regular, sans-serif;
            font-weight: 900;
            font-size: 16px;
            color: #004722;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
        }

        .infoItem .title_box_mid {
            display: flex;
            gap: 8px;
        }

        .infoItem .funds_box {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .infoItem .funds_box .money {
            font-weight: 500;
            font-size: 15px;
            color: #3e424d;
        }

        .infoItem .funds_box .money .txt {
            font-weight: 700;
            font-size: 16px;
            color: #3e424d;
            margin-left: 5px;
        }

        .infoItem .funds_actbox {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 13px;
        }

        .infoItem .funds_actbox_item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            color: #494949;
        }

        .infoItem .funds_actbox_item img {
            width: 32px;
        }

        .wallet_box {
            display: flex;
            gap: 8px;
            flex-shrink: 1;
            overflow: auto;
            /* position: relative; */
            padding-left: 14px;
            /* justify-content: center; */
        }

        .wallet_box .wallet_box_item {
            display: flex;
            width: 221px;
            height: 94px;
            padding: 0 10px;
            flex-shrink: 0;
            justify-content: center;
            gap: 10px;
            background: url(/img/mine/wallet_bg.png) no-repeat 50%;
            background-size: 100% 100%;
            border-radius: 14px;
            padding-top: 4px;
        }

        .wallet_box .wallet_box_item .wallet_box_item_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            width: 100%;
        }

        .wallet_box_item_inner {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
        }

        .wallet_box_item_inner img {
            width: 20px;
        }

        .wallet_box_item_content .funds_actbox_item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            color: #494949;
        }

        .wallet_box .wallet_box_item_title {
            font-weight: 600;
            font-size: 15px;
            color: #004722;
        }

        .wallet_box .wallet_box_item_value {
            font-weight: 700;
            font-size: 16px;
            color: #3e424d;
            margin-top: 10px;
        }

        .otherinfo_box {
            width: calc(100% - 28px);
            margin: 0 auto;
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .otherinfo_box .otherinfo_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 23%;
            gap: 7px;
            height: 70px;
            font-size: 12px;
            color: #494949;
            background: #fff;
            border-radius: 8px;
            position: relative;
        }

        .otherinfo_box .otherinfo_item img {
            width: 32px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: 1000;
        }

        .overlay {
            display: none;
        }

        .modal {
            width: 80%;
            min-height: 200px;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .modal-close-btn {
            position: absolute;
            align-items: center;
            justify-content: center;
            bottom: -70px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 50px;
        }

        .modal-close-btn i {
            color: #fff;
            font-size: 50px;
        }

        .modal-header {
            text-align: center;
            border-radius: 10px;
            color: #222;
        } 

        .message-modal-content {
            color: #2c2c2c;
            padding: 10px;
        }

        .custom_in {
            padding: 5px 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <div id="app">
        <div data-v-8cd483ca="" class="mian page">
            <div data-v-106b99c8="" data-v-8cd483ca="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title">Mine</div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-8cd483ca="" data-v-106b99c8="" class="c-row">
                        <img data-v-8cd483ca="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                    </div>
                </div>
            </div>
            <div data-v-8cd483ca="" class="menu-box">
                <div data-v-8cd483ca="" class="info p-t-30 p-l-30 p-b-30 p-r-20">
                    <div data-v-8cd483ca="" class="c-row c-row-between c-row-middle state-box c-pr"
                        onclick="location.href='/myProfile'">
                        <div data-v-8cd483ca="" class="c-row c-row-middle">
                            <div data-v-8cd483ca="" class="user-img">
                                <img data-v-8cd483ca="" src="/images/avatar.jpg" class="img">
                            </div>
                            <div data-v-8cd483ca="" class="p-l-10 infoName">
                                <div data-v-8cd483ca="" class="name mb3 c-row c-row-middle"></div>
                                <div data-v-8cd483ca="" class="number mb3"></div>
                                <div data-v-8cd483ca="" class="id tag-read mb3" data-clipboard-text=""></div>
                                <div class="invite_code"></div>
                                <!---->
                            </div>
                        </div>
                        <div data-v-8cd483ca="" class="profile">
                            <i data-v-8cd483ca="" class="van-icon van-icon-arrow"
                                style="color: rgb(255, 255, 255); font-size: 20px;">
                                <!---->
                            </i>
                        </div>
                    </div>
                </div>
                <div data-v-8cd483ca="" class="total-box">
                    <div data-v-8cd483ca="" class="infoItem">
                        <!-- <div data-v-8cd483ca="" class="c-row c-row-middle"><img data-v-8cd483ca="" width="45px"
                                height="45px" src="/images/icon_wallet.webp" class="walletImg">
                            <div data-v-8cd483ca="" class="p-l-15">
                                <div data-v-8cd483ca="" class="des u-m-b-15"> Balance </div>
                                <div data-v-8cd483ca="" class="c-row c-row-middle c-row-center p-t-5">
                                    <div data-v-8cd483ca="" class="money">
                                        <div data-v-8cd483ca="">
                                            <span data-v-8cd483ca="" class="txt"> ₹ 0.00  </span>
                                        </div>
                                    </div>
                                    <div data-v-8cd483ca="" onclick="location.href='/mian'">
                                        <img data-v-8cd483ca="" width="20px" height="20px"
                                            src="/images/tải xuống (1).png" class="img m-l-10 reload_money" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-8cd483ca="" class="c-row c-row-between m-t-10 infoBtn">
                            <div data-v-8cd483ca="" class="item c-row c-row-center" onclick="location.href='/wallet/withdrawal'">
                                <div data-v-8cd483ca="" class="li"> Withdraw</div>
                            </div>
                            <div data-v-8cd483ca="" class="item c-row c-row-center" onclick="location.href='/wallet/recharge'">
                                <div data-v-8cd483ca="" class="li"> Recharge </div>
                            </div>
                        </div> -->
                        <div class="system_wallet_box">
                            <div class="title_box">
                                <div></div>
                                <div class="title_box_mid">
                                    <div>SYSTEM WALLET</div>
                                    <img src="/img/mine/que_icon.svg" alt="que">
                                </div>
                                <div onclick="location.href='/mian'">
                                    <img width="15px" height="15px" src="/img/mine/refresh.svg">
                                </div>
                            </div>
                            <div class="funds_box">
                                <div class="money">
                                    INR <span class="txt">0.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="funds_actbox">
                            <div class="funds_actbox_item" onclick="location.href='/wallet/recharge'">
                                <img src="/img/mine/deposit.svg" alt="deposit">
                                <div>Deposit</div>
                            </div>
                            <div class="funds_actbox_item" onclick="location.href='/wallet/withdrawal'">
                                <img src="/img/mine/withdraw.svg" alt="withdraw">
                                <div>Withdraw</div>
                            </div>
                            <!-- <div class="funds_actbox_item transfer_btn">
                                <img src="/img/mine/transfer.svg" alt="transfer">
                                <div>Transfer</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="wallet_box">
                    <div class="wallet_box_item">
                        <div class="wallet_box_item_content">
                            <div class="wallet_box_item_title">Jili Wallet</div>
                            <div class="wallet_box_item_inner">
                                <div class="funds_actbox_item transfer_btn" id="jili-deposit-btn">
                                    <img src="/img/mine/transfer.svg" alt="transfer">
                                    <div>In</div>
                                </div>
                                <div class="wallet_box_item_value" id="jili-balance-box">₹ 0.00</div>
                                <div class="funds_actbox_item transfer_btn" id="jili-withdraw-btn">
                                    <img src="/img/mine/transfer.svg" alt="transfer">
                                    <div>Out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wallet_box_item">
                        <div class="wallet_box_item_content">
                            <div class="wallet_box_item_title">KM Wallet</div>
                            <div class="wallet_box_item_inner">
                                <div class="funds_actbox_item transfer_btn" id="kingmaker-deposit-btn">
                                    <img src="/img/mine/transfer.svg" alt="transfer">
                                    <div>In</div>
                                </div>
                                <div class="wallet_box_item_value" id="kingmaker-balance-box">₹ 0.00</div>
                                <div class="funds_actbox_item transfer_btn" id="kingmaker-withdraw-btn">
                                    <img src="/img/mine/transfer.svg" alt="transfer">
                                    <div>Out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="otherinfo_box">
                    <div class="otherinfo_item" id="message-btn">
                        <img src="/img/mine/msg.svg" alt="msg">
                        <div>Message</div>
                    </div>
                    <div class="otherinfo_item">
                        <img src="/img/mine/notice.svg" alt="notice">
                        <div>Notice</div>
                    </div>
                    <div class="otherinfo_item" onclick="location.href='/app'">
                        <img src="/img/mine/download.svg" alt="download">
                        <div>Download</div>
                    </div>
                </div>
                <!-- <div data-v-8cd483ca="" class="promote c-row c-row-middle-center" onclick="location.href='/promotion'">
                    <div data-v-8cd483ca="" class="c-row c-row-middle">
                        <div data-v-8cd483ca="">Promotion</div>
                    </div><img data-v-8cd483ca="" width="30px" height="15px" src="/images/tải xuống.png" class="img">
                </div> -->
                <!--     <div data-v-8cd483ca="" class="nav-muen c-row p-r-15 p-l-15">
                    <div data-v-8cd483ca="" class="item c-tc"><img data-v-8cd483ca="" width="45px" height="45px"
                            src="/images/s6.png" class="img" onclick="location.href='/daily/table/listBet.ejs'">
                        <div data-v-8cd483ca="" class="name"> Bet History</div>
                    </div>
                    <div data-v-8cd483ca="" class="item c-tc"><img data-v-8cd483ca="" width="45px" height="45px"
                            src="/images/s7.png" class="img">
                        <div data-v-8cd483ca="" class="name"> Transactions History </div>
                    </div>
                    <div data-v-8cd483ca="" class="item c-tc"><img data-v-8cd483ca="" width="45px" height="45px"
                            src="/images/s8.png" class="img">
                        <div data-v-8cd483ca="" class="name"> Login History </div>
                    </div>
                    <div data-v-8cd483ca="" class="item c-tc">
                        <div data-v-8cd483ca="" class="messageImg"><span data-v-8cd483ca="" class="number">34</span><img
                                data-v-8cd483ca="" width="45px" height="45px" src="/images/s9.png" class="img"></div>
                        <div data-v-8cd483ca="" class="name"> News </div>
                    </div>
                </div> -->
                <div data-v-21f3500a="" data-v-8cd483ca="" class="list">
                    <% if (level==1) { %>
                        <div data-v-21f3500a="" class="item c-row c-row-between"
                            onclick="location.href='/admin/manager/index'">
                            <div data-v-21f3500a="" class="c-row c-row-middle">
                                <img data-v-21f3500a="" width="24px" height="24px" src="/img/mine/list/adminstrate.png"
                                    class="img">
                                <span data-v-21f3500a="" class="name">Administrator Area</span>
                            </div>
                            <div data-v-21f3500a="" class="c-row c-row-middle">
                                <i data-v-21f3500a="" class="van-icon van-icon-arrow"
                                    style="color: rgb(84, 94, 104); font-size: 20px;">
                                    <!---->
                                </i>
                            </div>
                        </div>
                        <% } %>
                            <% if (level==2) { %>
                                <div data-v-21f3500a="" class="item c-row c-row-between"
                                    onclick="location.href='/manager/index'">
                                    <div data-v-21f3500a="" class="c-row c-row-middle">
                                        <img data-v-21f3500a="" width="24px" height="24px" src="/images/s1.png"
                                            class="img">
                                        <span data-v-21f3500a="" class="name">Collaborator Area</span>
                                    </div>
                                    <div data-v-21f3500a="" class="c-row c-row-middle">
                                        <i data-v-21f3500a="" class="van-icon van-icon-arrow"
                                            style="color: rgb(84, 94, 104); font-size: 20px;">
                                            <!---->
                                        </i>
                                    </div>
                                </div>
                                <% } %>
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/mian/forgot'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/security.svg"
                                                class="img"><span data-v-21f3500a="" class="name">Account
                                                Security</span></div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                                class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i></div>
                                    </div>
                                    <!---->
                                    <!---->
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/redenvelopes'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/gift_code.svg"
                                                class="img"><span data-v-21f3500a="" class="name">Gift Code</span></div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                                class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i></div>
                                    </div>
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/promotion/myTeam'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/team_report.svg"
                                                class="img"><span data-v-21f3500a="" class="name">Team Report</span>
                                        </div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                                class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i></div>
                                    </div>
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/wallet/rechargerecord'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/recharge_Report.svg"
                                                class="img"><span data-v-21f3500a="" class="name">Deposit record</span>
                                        </div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                                class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i></div>
                                    </div>
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/wallet/withdrawalrecord'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/withdraw_report.svg"
                                                class="img"><span data-v-21f3500a="" class="name">Withdrawal
                                                record</span></div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                                class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i></div>
                                    </div>

                                    <!-- Temporarely Guide for beginners in hidden  -->

                                    <!-- <div data-v-21f3500a="" class="item c-row c-row-between" onclick="location.href='/newtutorial'">
                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a="" width="24px"
                                height="24px" src="/images/s3.png" class="img"><span data-v-21f3500a=""
                                class="name">Guide for beginners</span>
                        </div>
                        <div data-v-21f3500a="" class="c-row c-row-middle"><i data-v-21f3500a=""
                                class="van-icon van-icon-arrow" style="color: rgb(84, 94, 104); font-size: 20px;">
                               
                            </i></div>
                    </div> -->
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/about'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/about.png"
                                                class="img"><span data-v-21f3500a="" class="name">About Us</span></div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle">
                                            <i data-v-21f3500a="" class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i>
                                        </div>
                                    </div>
                                    <div data-v-21f3500a="" class="item c-row c-row-between"
                                        onclick="location.href='/keFuMenu'">
                                        <div data-v-21f3500a="" class="c-row c-row-middle"><img data-v-21f3500a=""
                                                width="24px" height="24px" src="/img/mine/list/service1.svg"
                                                class="img"><span data-v-21f3500a="" class="name">Online customer
                                                service</span></div>
                                        <div data-v-21f3500a="" class="c-row c-row-middle">
                                            <i data-v-21f3500a="" class="van-icon van-icon-arrow"
                                                style="color: rgb(84, 94, 104); font-size: 20px;">
                                                <!---->
                                            </i>
                                        </div>
                                    </div>
                </div>
            </div>
            <div data-v-8cd483ca="" class="logout-btn m-t-40">
                <div data-v-8cd483ca="" class="gradient">
                    <button data-v-8cd483ca=""
                        class="logout van-button van-button--default van-button--normal van-button--block van-button--round"
                        style="color: rgb(255, 255, 255); background: #3f9368; border-color: #3f9368; font-weight: bold;">
                        <div data-v-8cd483ca="" class="van-button__content">
                            <span data-v-8cd483ca="" class="van-button__text">
                                <span data-v-8cd483ca="">Logout</span>
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div data-v-7692a079="" data-v-8cd483ca="" class="Loading c-row c-row-middle-center">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: #50ff99;">
                        <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
            <%- include('../nav') -%>
        </div>
        <div class="jili-deposit-overlay overlay">
            <div class="deposit-modal modal">
                <div class="deposit-modal-header modal-header">
                    <div class="m-t-5 m-b-5">
                        <h2>Jili Deposit</h2>
                        <div class="deposit-modal-close-btn modal-close-btn" style="margin-top: .2rem;">
                            <i class="van-icon van-icon-close m-r-5 "></i>
                        </div>

                    </div>
                </div>
                <div class="deposit-modal-content">
                    <!-- <div class="deposit-modal-input">
                        <label for="deposit-amount">Amount</label>
                        <input type="number" id="deposit-amount" placeholder="Enter amount">
                    </div> -->
                    <div data-v-25d9c352="" class="number-box c-row m-t-25 m-l-10"
                        style="font-size: .66667rem; font-weight: 600;">
                        <div data-v-25d9c352="" class="symbol c-row c-row-middle">₹</div>
                        <div data-v-25d9c352="" class="input c-row c-row-middle van-cell van-field">
                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                <div class="van-field__body" style="font-size: .47777rem;">
                                    <input type="number" id="deposit-amount" inputmode="numeric"
                                        placeholder="Deposit Amount" class="van-field__control custom_in">
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="deposit-modal-button">
                    <!-- <button id="deposit-btn">Deposit</button> -->
                    <div data-v-25d9c352="" class="c-row c-row-center m-t-30 p-b-30 withdrawal-btn"><button
                            id="jili-modal-deposit-btn"
                            class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                            style="color: rgb(255, 255, 255); background: #3f9368; border-color: #3f9368;">
                            <div data-v-25d9c352="" class="van-button__content"><span data-v-25d9c352=""
                                    class="van-button__text" style="font-size: .5rem;font-weight: 600;"> DEPOSIT</span>
                            </div>
                        </button></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="kingmaker-deposit-overlay overlay">
            <div class="deposit-modal modal">
                <div class="deposit-modal-header modal-header">
                    <div class="m-t-5 m-b-5">
                        <h2>KM Deposit</h2>
                        <div class="deposit-modal-close-btn modal-close-btn" style="margin-top: .2rem;">
                            <i class="van-icon van-icon-close m-r-5 "></i>
                        </div>

                    </div>
                </div>
                <div class="deposit-modal-content">
                    <!-- <div class="deposit-modal-input">
                        <label for="deposit-amount">Amount</label>
                        <input type="number" id="deposit-amount" placeholder="Enter amount">
                    </div> -->
                    <div data-v-25d9c352="" class="number-box c-row m-t-25 m-l-10"
                        style="font-size: .66667rem; font-weight: 600;">
                        <div data-v-25d9c352="" class="symbol c-row c-row-middle">₹</div>
                        <div data-v-25d9c352="" class="input c-row c-row-middle van-cell van-field">
                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                <div class="van-field__body" style="font-size: .47777rem;">
                                    <input type="number" id="kingmaker-deposit-amount" inputmode="numeric"
                                        placeholder="Deposit Amount" class="van-field__control custom_in">
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="deposit-modal-button">
                    <!-- <button id="deposit-btn">Deposit</button> -->
                    <div data-v-25d9c352="" class="c-row c-row-center m-t-30 p-b-30 withdrawal-btn"><button
                            id="kingmaker-modal-deposit-btn"
                            class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                            style="color: rgb(255, 255, 255); background: #3f9368; border-color: #3f9368;">
                            <div data-v-25d9c352="" class="van-button__content"><span data-v-25d9c352=""
                                    class="van-button__text" style="font-size: .5rem;font-weight: 600;"> DEPOSIT</span>
                            </div>
                        </button></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="jili-withdraw-overlay overlay">
            <div class="withdraw-modal modal">
                <div class="withdraw-modal-header modal-header">

                    <div class="m-t-5 m-b-5" style="max-height: 39.77px;">
                        <h2>Jili Withdraw</h6>
                            <div class="withdraw-modal-close-btn modal-close-btn">
                                <i class="van-icon van-icon-close m-r-5 "></i>
                            </div>
                    </div>
                </div>
                <div class="withdraw-modal-content">
                    <!-- <div class="withdraw-modal-input">
                            <label for="withdraw-amount">Amount</label>
                            <input type="number" id="withdraw-amount" placeholder="Enter amount">
                        </div> -->
                    <div data-v-25d9c352="" class="number-box c-row m-t-25 m-l-10"
                        style="font-size: .66667rem; font-weight: 600;">
                        <div data-v-25d9c352="" class="symbol c-row c-row-middle">₹</div>
                        <div data-v-25d9c352="" class="input c-row c-row-middle van-cell van-field">
                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                <div class="van-field__body" style="font-size: .47777rem;">
                                    <input type="number" id="withdraw-amount" inputmode="numeric"
                                        placeholder="Withdraw Amount" class="van-field__control custom_in">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="withdraw-modal-button">
                    <!-- <button id="withdraw-btn">Withdraw</button> -->
                    <div data-v-25d9c352="" class="c-row c-row-center m-t-30 p-b-30 withdrawal-btn"><button
                            id="jili-modal-withdraw-btn"
                            class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                            style="color: rgb(255, 255, 255); background: #3f9368; border-color: #3f9368;">
                            <div data-v-25d9c352="" class="van-button__content"><span data-v-25d9c352=""
                                    class="van-button__text" style="font-size: .5rem;font-weight: 600;"> WITHDRAW</span>
                            </div>
                        </button></div>
                </div>
            </div>
        </div>
        <div class="kingmaker-withdraw-overlay overlay">
            <div class="withdraw-modal modal">
                <div class="withdraw-modal-header modal-header">

                    <div class="m-t-5 m-b-5" style="max-height: 39.77px;">
                        <h2>KM Withdraw</h6>
                            <div class="withdraw-modal-close-btn modal-close-btn">
                                <i class="van-icon van-icon-close m-r-5 "></i>
                            </div>
                    </div>
                </div>
                <div class="withdraw-modal-content">
                    <!-- <div class="withdraw-modal-input">
                            <label for="withdraw-amount">Amount</label>
                            <input type="number" id="withdraw-amount" placeholder="Enter amount">
                        </div> -->
                    <div data-v-25d9c352="" class="number-box c-row m-t-25 m-l-10"
                        style="font-size: .66667rem; font-weight: 600;">
                        <div data-v-25d9c352="" class="symbol c-row c-row-middle">₹</div>
                        <div data-v-25d9c352="" class="input c-row c-row-middle van-cell van-field">
                            <div class="van-cell__value van-cell__value--alone van-field__value">
                                <div class="van-field__body" style="font-size: .47777rem;">
                                    <input type="number" id="kingmaker-withdraw-amount" inputmode="numeric"
                                        placeholder="Withdraw Amount" class="van-field__control custom_in">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="withdraw-modal-button">
                    <!-- <button id="withdraw-btn">Withdraw</button> -->
                    <div data-v-25d9c352="" class="c-row c-row-center m-t-30 p-b-30 withdrawal-btn"><button
                            id="kingmaker-modal-withdraw-btn"
                            class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                            style="color: rgb(255, 255, 255); background: #3f9368; border-color: #3f9368;">
                            <div data-v-25d9c352="" class="van-button__content"><span data-v-25d9c352=""
                                    class="van-button__text" style="font-size: .5rem;font-weight: 600;"> WITHDRAW</span>
                            </div>
                        </button></div>
                </div>
            </div>
        </div>
        <div class="message-overlay overlay">
            <div class="message-modal modal">
                <div class="message-modal-header modal-header">
                    <div class="m-t-5 m-b-5">
                        <h2>Message</h2>
                        <div class="message-modal-close-btn modal-close-btn" style="margin-top: .2rem;">
                            <i class="van-icon van-icon-close m-r-5 "></i>
                        </div>

                    </div>
                </div>
                <div class="message-modal-content">
                    Due to the fact recently that there have been too many fake websites that are pretending to be our company, Members please remember venasclub.live to check whether our venasclub website is available.
                    Be part of our community to get updated with spectacular Events , good news and various announcement. Thank you for supporting venasclub the way and keep spreading 
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="van-overlay" style="z-index: 2001;display: none;"></div>
    <div role="dialog" class="van-dialog" style="z-index: 2002;display: none;" aria-labelledby="Lời nhắc">
        <div class="van-dialog__header">Reminder</div>
        <div class="van-dialog__content">
            <div class="van-dialog__message van-dialog__message--has-title">Do you want to sign out?</div>
        </div>
        <div class="van-hairline--top van-dialog__footer van-dialog__footer--buttons">
            <button class="van-button van-button--default van-button--large van-dialog__cancel">
                <div class="van-button__content">
                    <span class="van-button__text">Cancel</span>
                </div>
            </button>
            <button class="van-button van-button--default van-button--large van-dialog__confirm van-hairline--left">
                <div class="van-button__content">
                    <span class="van-button__text">Confirm</span>
                </div>
            </button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $(".overlay").fadeOut(0);
        function alertMess(text, sic, dur = 1000) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, dur);
        }
        /** 
         * @param {string} number
        */
        function getHiddenNumber(number) {
            // return number in format 123****789
            return number.replace(/(\d{3})\d{4}(\d{3})/, '$1****$2');
        }
        fetch('/api/webapi/GetUserInfo')
            .then(response => response.json())
            .then(data => {
                if (data.status === false) {
                    unsetCookie();
                    return false;
                };
                $('.infoName .name').text(data.data.name_user);
                $('.infoName .id').text(`ID:${data.data.id_user}`);
                $('.infoName .id').attr('data-clipboard-text', '');
                $('.infoName .number').text(`Account ${getHiddenNumber(data.data.phone_user)}`);
                $('.infoName .invite_code').text(`Invitation code ${data.data.code}`);
                $('.infoItem .money .txt').text(`${parseFloat(data.data.money_user).toFixed(2)}`);
            });

        fetch("/api/webapi/jili/userInfo")
            .then(response => response.json())
            .then(data => {
                if (data.status === false) {
                    // unsetCookie();
                    $('#jili-balance-box').text("unable to fetch");
                    return;
                };

                $('#jili-balance-box').text(` ₹ ${parseFloat(data.message.Data[0].Balance).toFixed(2)} `);
            })

        fetch("/api/webapi/kingmaker/balance")
            .then(response => response.json())
            .then(data => {
                if (data.status === false) {
                    $('#kingmaker-balance-box').text("unable to fetch");
                    return;
                };

                $('#kingmaker-balance-box').text(` ₹ ${parseFloat(data.message.bal).toFixed(2)} `);
            })

        $("#message-btn").click(function() {
            $('.message-overlay').css("display", "block");
            $('.message-overlay').fadeIn(400);
        })

        $(".message-modal-close-btn").click(function() {
            $(".message-overlay").fadeOut(400)
        })

        $('#jili-deposit-btn').click(function () {
            $('.jili-deposit-overlay').css("display", "block");
            $('.jili-deposit-overlay').fadeIn(400);
        })

        $('#kingmaker-deposit-btn').click(function () {
            $('.kingmaker-deposit-overlay').css("display", "block");
            $('.kingmaker-deposit-overlay').fadeIn(400);
        })

        $(".deposit-modal-close-btn").click(function () {
            $(".jili-deposit-overlay").fadeOut(400)
            $('.kingmaker-deposit-overlay').fadeOut(400);
        })

        $("#jili-modal-deposit-btn").click(function () {
            const amount = $("#deposit-amount").val();

            if (amount == "" || amount < 1) {
                alertMess("please enter valid amount", $(this));
                return;
            }

            $('.Loading').fadeIn(10);
            fetch("/api/webapi/jili/deposit", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    amount
                })
            })
                .then(response => response.json())
                .then(data => {
                    $('.Loading').fadeOut(10);
                    if (data.status == false && data.message == "Insufficient balance") {
                        alertMess("Insufficient balance", $(this));
                        return;
                    } else if (data.status == false) {
                        if (data.message == "Please recharge at least 1000") {
                            alertMess("Please recharge at least 1000", $(this));
                            return;
                        }
                        alertMess("unable to deposit at the moment", $(this));
                        console.error("[ERROR]:", data);
                        return;
                    };

                    $('#jili-balance-box').text(` ₹ ${parseFloat(data.data.CoinAfter).toFixed(2)} `);
                    $('.total-box .money .txt').text(` ₹ ${parseFloat(data.mainBalance).toFixed(2)} `);

                    alertMess("successfully deposited", $(this));

                    $(".jili-deposit-overlay").fadeOut(400);
                })
        })

        $("#kingmaker-modal-deposit-btn").click(function () {
            const amount = $("#kingmaker-deposit-amount").val();

            if (amount == "" || amount < 1) {
                alertMess("please enter valid amount", $(this));
                return;
            }

            $('.Loading').fadeIn(10);
            fetch("/api/webapi/kingmaker/deposit", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    amount
                })
            })
                .then(response => response.json())
                .then(data => {
                    $('.Loading').fadeOut(10);
                    if (data.status == false) {
                        if (data.message == "Insufficient balance") {
                            alertMess("Insufficient balance", $(this));
                            return;
                        }
                        if (data.message == "Please recharge at least 1000") {
                            alertMess("Please recharge at least 1000", $(this));
                            return;
                        }
                        alertMess("unable to deposit at the moment", $(this));
                        console.error("[ERROR]:", data);
                        return;
                    };

                    $('#kingmaker-balance-box').text(` ₹ ${parseFloat(data.data.bal).toFixed(2)} `);
                    $('.total-box .money .txt').text(` ₹ ${parseFloat(data.mainBalance).toFixed(2)} `);

                    alertMess("successfully deposited", $(this));

                    $(".kingmaker-deposit-overlay").fadeOut(400);
                })
        })

        $("#jili-withdraw-btn").click(function () {
            $('.jili-withdraw-overlay').css("display", "block");
            $(".jili-withdraw-overlay").fadeIn(400)
        })

        $("#kingmaker-withdraw-btn").click(function () {
            $('.kingmaker-withdraw-overlay').css("display", "block");
            $(".kingmaker-withdraw-overlay").fadeIn(400)
        })

        $(".withdraw-modal-close-btn").click(function () {
            $(".jili-withdraw-overlay").fadeOut(400)
            $(".kingmaker-withdraw-overlay").fadeOut(400)
        })

        $("#jili-modal-withdraw-btn").click(function () {
            const amount = $("#withdraw-amount").val();

            if (amount == "") {
                alertMess("please enter amount first", $(this));
                return;
            }

            $('.Loading').fadeIn(10);
            fetch("/api/webapi/jili/withdraw", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    amount
                })
            })
                .then(response => response.json())
                .then(data => {
                    $('.Loading').fadeOut(10);
                    if (data.status == false && data.message == "Balance not enough") {
                        alertMess("Insufficient balance", $(this));
                        return;
                    } else if (data.status == false) {
                        alertMess("unable to withdraw at the moment", $(this));
                        console.error("[ERROR]:", data);
                        return;
                    };

                    $('#jili-balance-box').text(` ₹ ${parseFloat(data.data.CoinAfter).toFixed(2)} `);
                    $('.total-box .money .txt').text(` ₹ ${parseFloat(data.mainBalance).toFixed(2)} `);

                    alertMess("successfully withdrawn", $(this));

                    $(".jili-withdraw-overlay").fadeOut(400);
                })
        })

        $("#kingmaker-modal-withdraw-btn").click(function () {
            const amount = $("#kingmaker-withdraw-amount").val();

            if (amount == "") {
                alertMess("please enter amount first", $(this));
                return;
            }

            $('.Loading').fadeIn(10);
            fetch("/api/webapi/kingmaker/withdraw", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    amount
                })
            })
                .then(response => response.json())
                .then(data => {
                    $('.Loading').fadeOut(10);
                    if (data.status == false && data.data.data.err == 100) {
                        alertMess("Insufficient balance", $(this));
                        return;
                    } else if (data.status == false) {
                        alertMess("unable to withdraw at the moment", $(this));
                        console.error("[ERROR]:", data);
                        return;
                    };

                    $('#kingmaker-balance-box').text(` ₹ ${parseFloat(data.data.bal).toFixed(2)} `);
                    $('.total-box .money .txt').text(` ₹ ${parseFloat(data.mainBalance).toFixed(2)} `);

                    alertMess("successfully withdrawn", $(this));

                    $(".kingmaker-withdraw-overlay").fadeOut(400);
                })
        })
    </script>
    <!---->
    <script>
        $('.reload_money').click(function (e) {
            e.preventDefault();
            $(this).addClass('action block-click');
            setTimeout(() => {
                $(this).removeClass('action block-click');
            }, 3000);
        });

        window.onload = function () {
            $('.Loading').fadeOut(10);
        }
        $('.van-dialog__cancel').click(function (e) {
            e.preventDefault();

            $('.van-dialog').addClass('van-dialog-bounce-leave-active van-dialog-bounce-leave-to');
            setTimeout(() => {
                $('.van-dialog').removeClass('van-dialog-bounce-leave-active van-dialog-bounce-leave-to');
                $('.van-dialog, .van-overlay').fadeOut(50);
            }, 200);
        });
        $('.logout').click(function (e) {
            e.preventDefault();
            $('.van-dialog, .van-overlay').css('display', '');
            $('.van-dialog').addClass('van-dialog-bounce-enter-active van-dialog-bounce-enter-to');
            setTimeout(() => {
                $('.van-dialog').removeClass('van-dialog-bounce-enter-active van-dialog-bounce-enter-to');
            }, 500);
        });
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function unsetCookie() {
            setCookie('token', '', 0);
            setCookie('auth', '', 0);
            var checkToken = getCookie('token');
            var checkAuth = getCookie('auth');
            if (!checkToken && !checkAuth) {
                location.href = "/login";
            } else {
                setCookie('token', '', 0);
                setCookie('auth', '', 0);
                location.href = "/login";
            }
        }

        $('.van-dialog__confirm').click(function (e) {
            e.preventDefault();
            unsetCookie();
        });
    </script>
</body>

</html>