<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px" style="min-height: 100vh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>venasclub</title>
    <link href="/css/member/main.css" rel="stylesheet" />
    <!-- <link href="/css/member/chunk-1.css" rel="stylesheet" />
    <link href="/css/member/chunk-2.css" rel="stylesheet" />
    <link href="/css/member/chunk-3.css" rel="stylesheet" />
    <link href="/css/member/chunk-4.css" rel="stylesheet" />
    <link href="/css/member/chunk-5.css" rel="stylesheet" />
    <link href="/css/member/chunk-6.css" rel="stylesheet" /> -->
    <!-- <link href="/css/member/chunk-7.css" rel="stylesheet" /> -->
    <link rel="shortcut icon" href="/img/fevicon.ico" type="image/x-icon" />
    <style>
        html{-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif}button,input{color:inherit;font:inherit}[class*=van-]:focus,button:focus,input:focus{outline:0}@-webkit-keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@font-face{font-weight:400;font-family:vant-icon;font-style:normal;font-display:auto;src:url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf) format("truetype")}.van-image{position:relative;display:inline-block}.van-image__img{display:block;width:100%;height:100%}.van-loading{color:#c8c9cc;font-size:0}.van-loading,.van-loading__spinner{position:relative;vertical-align:middle}.van-loading__spinner{display:inline-block;width:.8rem;max-width:100%;height:.8rem;max-height:100%;-webkit-animation:van-rotate .8s linear infinite;animation:van-rotate .8s linear infinite}.van-loading__spinner--circular{-webkit-animation-duration:2s;animation-duration:2s}.van-loading__circular{display:block;width:100%;height:100%}.van-loading__circular circle{-webkit-animation:van-circular 1.5s ease-in-out infinite;animation:van-circular 1.5s ease-in-out infinite;stroke:currentColor;stroke-width:3;stroke-linecap:round}@-webkit-keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}@keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}.van-button{position:relative;display:inline-block;box-sizing:border-box;height:1.17333rem;margin:0;padding:0;font-size:.42667rem;line-height:1.2;text-align:center;border-radius:.05333rem;cursor:pointer;-webkit-transition:opacity .2s;transition:opacity .2s;-webkit-appearance:none}.van-button:before{position:absolute;top:50%;left:50%;width:100%;height:100%;background-color:#000;border:inherit;border-color:#000;border-radius:inherit;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;content:" "}.van-button:active:before{opacity:.1}.van-button--default{color:#323233;background-color:#fff;border:.02667rem solid #ebedf0}.van-button--normal{padding:0 .4rem;font-size:.37333rem}.van-button--block{display:block;width:100%}.van-button--round{border-radius:26.64rem}.van-button__content{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;height:100%}
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .block-click {
            pointer-events: none;
        }
        .mian[data-v-587146f9]{background:#fbfcfd url(/images/bg_image.webp) no-repeat top;background-size:100% 100%;height:100vh;max-width:13.33333rem}.mian .redenve[data-v-587146f9]{padding:.66667rem}.mian .redenve .head-tit .txt[data-v-587146f9]{font-size:.58667rem;color:#fff;margin-bottom:.13333rem}.mian .redenve .head-tit .des[data-v-587146f9]{font-size:.34667rem;color:#fd9290}.mian .redenve .con[data-v-587146f9]{padding:.66667rem}.mian .redenve .box[data-v-587146f9]{background:#fff;border-radius:.4rem;position:relative;padding:.4rem}.mian .redenve .box .icon[data-v-587146f9]{height:.53333rem;width:1.6rem;background:#de0700;display:inline-block;border-radius:.53333rem;position:absolute;top:-.26667rem;left:50%;transform:translate(-50%);text-align:center}.mian .redenve .box .icon .white[data-v-587146f9]{margin-top:.13333rem;display:inline-block;border-radius:.26667rem;width:80%;height:.26667rem;background:#fff}.mian .redenve .box .input[data-v-587146f9]{width:100%;height:.93333rem;line-height:.93333rem;border-radius:.13333rem;font-size:.37333rem;padding:0 .26667rem;border:.05333rem solid #faa09d;background-color:rgba(242,65,59,.09)}.mian .redenve .box .tit[data-v-587146f9]{margin-bottom:.26667rem;font-size:.56rem;color:#f2413b}.mian .redenve .btn[data-v-587146f9]{margin-top:.8rem}.mian .redenve .btn .gradient[data-v-587146f9]{width:65%;margin:0 auto;box-shadow:0 0 .21333rem .02667rem rgba(255,206,31,.4);border-radius:1.33333rem}.mian .redenve .btn .gradient span[data-v-587146f9]{font-size:.48rem}
        html{-webkit-tap-highlight-color:transparent}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif}button,input{color:inherit;font:inherit}[class*=van-]:focus,button:focus,input:focus{outline:0}@-webkit-keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes van-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@font-face{font-weight:400;font-family:vant-icon;font-style:normal;font-display:auto;src:url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2) format("woff2"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.woff) format("woff"),url(https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf) format("truetype")}.van-image{position:relative;display:inline-block}.van-image__img{display:block;width:100%;height:100%}.van-loading{color:#c8c9cc;font-size:0}.van-loading,.van-loading__spinner{position:relative;vertical-align:middle}.van-loading__spinner{display:inline-block;width:.8rem;max-width:100%;height:.8rem;max-height:100%;-webkit-animation:van-rotate .8s linear infinite;animation:van-rotate .8s linear infinite}.van-loading__spinner--circular{-webkit-animation-duration:2s;animation-duration:2s}.van-loading__circular{display:block;width:100%;height:100%}.van-loading__circular circle{-webkit-animation:van-circular 1.5s ease-in-out infinite;animation:van-circular 1.5s ease-in-out infinite;stroke:currentColor;stroke-width:3;stroke-linecap:round}@-webkit-keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}@keyframes van-circular{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40}to{stroke-dasharray:90,150;stroke-dashoffset:-120}}.van-button{position:relative;display:inline-block;box-sizing:border-box;height:1.17333rem;margin:0;padding:0;font-size:.42667rem;line-height:1.2;text-align:center;border-radius:.05333rem;cursor:pointer;-webkit-transition:opacity .2s;transition:opacity .2s;-webkit-appearance:none}.van-button:before{position:absolute;top:50%;left:50%;width:100%;height:100%;background-color:#000;border:inherit;border-color:#000;border-radius:inherit;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0;content:" "}.van-button:active:before{opacity:.1}.van-button--default{color:#323233;background-color:#fff;border:.02667rem solid #ebedf0}.van-button--normal{padding:0 .4rem;font-size:.37333rem}.van-button--block{display:block;width:100%}.van-button--round{border-radius:26.64rem}.van-button__content{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;height:100%}
    </style>
</head>

<body>
    <div id="app">
        <div data-v-587146f9="" class="mian">
            <div data-v-106b99c8="" data-v-587146f9="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Gift</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-587146f9="" class="redenve p-t-25">
                <div data-v-587146f9="" class="head-tit">
                    <div data-v-587146f9="" class="txt">Hello</div>
                    <div data-v-587146f9="" class="txt">Everyone</div>
                    <div data-v-587146f9="" class="des">I have a gift for you</div>
                </div>
                <div data-v-587146f9="" class="con">
                    <div data-v-587146f9="" class="box">
                        <div data-v-587146f9="" class="icon c-row c-row-center u-col-center">
                            <span data-v-587146f9="" class="white"></span>
                        </div>
                        <div data-v-587146f9="" class="c-tc">
                            <div data-v-587146f9="" class="c-row c-row-center">
                                <div data-v-587146f9="" class="van-image" mode="widthFix" style="width: 80%">
                                    <img src="/images/Redenvelope.webp" class="van-image__img" />
                                </div>
                            </div>
                            <div data-v-587146f9="" class="tit">Gift Code</div>
                            <input data-v-587146f9="" type="text" placeholder="Please enter the gift code"
                                class="input first" />
                        </div>
                    </div>
                    <div data-v-587146f9="" class="c-row c-row-center m-t-30 btn">
                        <div data-v-587146f9="" style="width: 100%; font-weight: bold;">
                            <button data-v-587146f9=""
                                class="van-button van-button--default van-button--normal van-button--block van-button--round"
                                style="
                    color: rgb(255, 255, 255);
                    background: #3f9368;
                    border-color: #3f9368;
                  ">
                                <div data-v-587146f9="" class="van-button__content">
                                    <span data-v-587146f9="" class="van-button__text"><span data-v-587146f9="">Confirm</span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-7692a079="" data-v-587146f9="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: #50ff99"><svg data-v-7692a079="" viewBox="25 25 50 50"
                            class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg></span>
                </div>
            </div>
            <!---->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1500);
        }
        $('button').click(function (e) { 
            e.preventDefault();
            let value = $('input').val().trim();
            $(this).addClass('block-click');
            let iej = $(this);
            if (value) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/use/redenvelope",
                    data: {
                        code: value,
                    },
                    dataType: "json",
                    success: function (response) {
                        alertMess(response.message, iej);
                    }
                });
            } else {
				alertMess('Please enter the gift code', iej);
            }
        });
    </script>
</body>

</html>