<style>
    .game-betting .content .box .number-box .item:nth-child(n) .number .txt[data-v-a9660e98] {
        z-index: -1000;
        height: 0;
        width: 0;
        
    }
    .number-img img{
        width: 56px;
        height: 56px;
    }
    .con-box img{
        height: 41px;
        width: 125px;
    }
    .con-box button{
        border: none;
    }
    .game-betting .content .box .number-box .item:nth-child(n) .number[data-v-a9660e98] {
        border: none;
    }
    .big-small img{
        width: 190px;
        height: auto;
    }
    .btn-box button, .color-box button {
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px
    }
    .btn-box button img, .color-box button img {
        width: 100%;
    }
    .btn-box.c-row, .color-box {
        display: flex;
        gap: 10px;
    }
</style>


<div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x"> <img src="/img/wingo/green.png" alt="green"></button>
            <button data-v-a9660e98="" type="button" data-join="t" ><img src="/img/wingo/violet.png" alt="violet"></button>
            <button data-v-a9660e98="" type="button" data-join="d" ><img src="/img/wingo/red.png" alt="red"></button>
        </div>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">0</span>
                <span class="number-img"> <img src="/img/wingo/number_0.png" alt="zero"></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_1.png" alt="1"></span>
                <span data-v-a9660e98="" class="txt">1</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_2.png" alt="2"></span>
                <span data-v-a9660e98="" class="txt">2</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_3.png" alt="3"></span>
                <span data-v-a9660e98="" class="txt">3</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_4.png" alt="4"></span>
                <span data-v-a9660e98="" class="txt">4</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"> <img src="/img/wingo/number_5.png" alt="5"></span>
                <span data-v-a9660e98="" class="txt">5</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">6</span>
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_6.png" alt="6"></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"> <img src="/img/wingo/number_7.png" alt="7"> </span>
                <span data-v-a9660e98="" class="txt">7</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_8.png" alt="8"></span>
                <span data-v-a9660e98="" class="txt">8</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="number-img"><img src="/img/wingo/number_9.png" alt="9"></span>
                <span data-v-a9660e98="" class="txt">9</span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">Random</button>
        <div data-v-a9660e98="" class="c-row">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background-color: rgb(92, 186, 71); color: rgb(255, 255, 255)">
                X1
            </div>
            <div data-x="3" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X3
            </div>
            <div data-x="9" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X9
            </div>
            <div data-x="27" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X27
            </div>
            <div data-x="81" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X81
            </div>
            <div data-x="243" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X243
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="big-small"> <img src="/img/wingo/big.png" alt="big"></button>
        <button data-v-a9660e98="" data-join="n" class="big-small"> <img src="/img/wingo/small.png" alt="small"></button>
    </div>
</div>